mixin sBlog(head, title)
	// start sBlog
	+b.sBlog.section#sBlog&attributes(attributes)
		.container
			if head
				+e.head-row.row
					.col-lg-8.col-xl-9
						+blogItem(1, `Навес для дома.&nbsp;7&nbsp;способов, как украсить участок и&nbsp;сделать жизнь комфортнее`)
					.col-lg-4.col-xl-3.d-none.d-lg-block
						+b.categories
							h6 Категории
							+categoryItem(`Советы <br> и&nbsp;лайфхаки`, 1).active
							+categoryItem(`Технические <br> детали`, 2)
							+categoryItem(`Безопасность <br> и&nbsp;гарантии`, 3)
							+categoryItem(`Внешний <br> вид`, 4)
							+categoryItem(`Выбор <br> навеса`, 5)
							+categoryItem(`Примеры <br> наших работ`, 6)
			if title
				.section-title.text-center
					h2!= title
			.row
				.col-md-6
					+blogItem(2, `Навес для дома.&nbsp;7&nbsp;способов, как украсить участок и&nbsp;сделать жизнь комфортнее`)
				.col-md-6
					+blogItem(3, `Навес для дома.&nbsp;7&nbsp;способов, как украсить участок и&nbsp;сделать жизнь комфортнее`)
				.col-md-6.col-lg-4.col-xl-3
					+adv-item(`Каталог`,`Большой выбор навесов к&nbsp;дому`,`Смотреть`,`2`)
				.col-md-6.col-lg-8.col-xl-9
					+blogItem(4, `8&nbsp;форм кровли для навесов`)
				.col-md-6
					+blogItem(5, `Навес для дома.&nbsp;7&nbsp;способов, как украсить участок и&nbsp;сделать жизнь комфортнее`)
				.col-md-6
					+blogItem(6, `Навес для дома.&nbsp;7&nbsp;способов, как украсить участок и&nbsp;сделать жизнь комфортнее`)
				.col-12
					+banner-item-offer().mb-0
				.col-md-6.col-lg-8.col-xl-9
					+blogItem(7, `8&nbsp;форм кровли для навесов`)
				.col-md-6.col-lg-4.col-xl-3
					+blogItem(6, `5&nbsp;причин, почему навес необходим практически каждому`)
				.col-md-6
					+blogItem(8, `Навес для дома.&nbsp;7&nbsp;способов, как украсить участок и&nbsp;сделать жизнь комфортнее`)
				.col-md-6
					+blogItem(3, `Навес для дома.&nbsp;7&nbsp;способов, как украсить участок и&nbsp;сделать жизнь комфортнее`)
				.col-md-6.col-lg-4.col-xl-3
					+adv-item-white(``, `Посетите официальные сообщества в&nbsp;соц. сетях:`, ``)
				.col-md-6.col-lg-8.col-xl-9
					+blogItem(1, `8&nbsp;форм кровли для навесов`)
				.col-md-6.col-lg-4.col-xl-6
					+blogItem(3, `Навес для дома.&nbsp;7&nbsp;способов, как украсить участок и&nbsp;сделать жизнь комфортнее`)
				.col-md-6.col-lg-4.col-xl-3
					+blogItem(7, `5&nbsp;причин, почему навес необходим практически каждому`)
				.col-lg-4.col-xl-3
					+blogItem(4, `5&nbsp;причин, почему навес необходим практически каждому`)
				.col-12
					+banner-item-offer-center().mb-0
				.col-md-6.col-lg-8.col-xl-9
					+blogItem(8, `8&nbsp;форм кровли для навесов`)
				.col-md-6.col-lg-4.col-xl-3
					+blogItem(6, `5&nbsp;причин, почему навес необходим практически каждому`)
				.col-md-6
					+blogItem(7, `Навес для дома.&nbsp;7&nbsp;способов, как украсить участок и&nbsp;сделать жизнь комфортнее`)
				.col-md-6
					+blogItem(3, `Навес для дома.&nbsp;7&nbsp;способов, как украсить участок и&nbsp;сделать жизнь комфортнее`)
				.col-md-6.col-lg-4.col-xl-3
					+adv-item-white(`Каталог`, `Замер, расчет сметы <br> и&nbsp;3D-макет`, `Получить бесплатно`)
				.col-md-6.col-lg-8.col-xl-9
					+blogItem(4, `Н8&nbsp;форм кровли для навесов`)
	// end sBlog

mixin sBlogPage()
	+b.SECTION.sBlogPage.section#sBlogPage&attributes(attributes)
		.container
			+e.preview
				+pic(`blog-8.jpg`,'',0)
			p Вы купили себе дом! Время обустраивать участок. Есть куча идей для построек: из бревен, кирпичей, металла, дерева и других материалов, и все эти идеи можно воплотить с помощью навеса. В этой статье мы расскажем о 7 способах, как украсить участок, и сделать жизнь комфортнее под навесом.
			+content-table
			.row
				.col-xl-9
					+blog-page-item(`Входная группа`,`Навес над входной группой необходим для защиты крыльца или веранды от дождя, снега и наледи. Чтобы не образовался гололед, на котором легко поскользнуться, а также чтобы входную дверь можно было без проблем открыть, не опасаясь, что это окажется невозможным из-за завалов снега. Также навес над входной группой помогает содержать проход ко входу в дом в чистоте и сухости. Навес из поликарбоната идеально подойдет для такой роли.`)
					+blog-page-item(`Закрытая веранда`,`Веранда, в свою очередь, поможет сохранить тепло у входной двери зимой, увеличит полезную площадь дома. Внутри веранды можно разуваться, хранить одежду, мебель. Летом высаживать рассаду или обустроить уютное место для отдыха.`)
					+blog-page-item(`Открытая веранда`,`Веранда, в свою очередь, поможет сохранить тепло у входной двери зимой, увеличит полезную площадь дома. Внутри веранды можно разуваться, хранить одежду, мебель. Летом высаживать рассаду или обустроить уютное место для отдыха.`)
					+blog-page-item(`Навес для автомобиля`,`Веранда, в свою очередь, поможет сохранить тепло у входной двери зимой, увеличит полезную площадь дома. Внутри веранды можно разуваться, хранить одежду, мебель. Летом высаживать рассаду или обустроить уютное место для отдыха.`)
					+blog-page-item(`Беседка`,`Веранда, в свою очередь, поможет сохранить тепло у входной двери зимой, увеличит полезную площадь дома. Внутри веранды можно разуваться, хранить одежду, мебель. Летом высаживать рассаду или обустроить уютное место для отдыха.`)
					h2 Игровая зона для детей (h2)
					p Веранда, в свою очередь, поможет сохранить тепло у входной двери зимой, увеличит полезную площадь дома. Внутри веранды можно разуваться, хранить одежду, мебель. Летом высаживать рассаду или обустроить уютное место для отдыха.
					h3 Игровая зона для детей (h3)
					h4 Игровая зона для детей (h4)
					h5 Веранда, в свою очередь, поможет сохранить тепло у входной двери зимой, увеличит полезную площадь дома. Внутри веранды можно разуваться, хранить одежду, мебель. Летом высаживать рассаду или обустроить уютное место для отдыха. (h5)
					p.mini-text Веранда, в свою очередь, поможет сохранить тепло у входной двери зимой, увеличит полезную площадь дома. Внутри веранды можно разуваться, хранить одежду, мебель. Летом высаживать рассаду или обустроить уютное место для отдыха.
					+pic(`blog-4.jpg`,'',0)
					+blog-page-item(`Навес для кладовой`,`Веранда, в свою очередь, поможет сохранить тепло у входной двери зимой, увеличит полезную площадь дома. Внутри веранды можно разуваться, хранить одежду, мебель. Летом высаживать рассаду или обустроить уютное место для отдыха.`)
				.col-xl-3
					+e.banners-wrap
						+blogItem(6, `5&nbsp;причин, почему навес необходим практически каждому`)
						+adv-item(`Акция`,`Скидка до 17% на навесы для&nbsp;автомобиля`,`Подробнее`,`1`)
			+banner-item()

mixin blog-page-item(title,caption)
	h2!=title
	p=caption
	+pic(`blog-4.jpg`,'',0)

mixin banner-item()
	+b.banner-item.bg-wrap&attributes(attributes)
		+pic(`banner-item.jpg`,'',0).picture-bg
		+e.title Обратная связь
		+e.caption Напишите свой<br>вопрос в Whatsapp
		+e.btn(href="#") Написать

mixin banner-item-offer-center()
	+b.banner-item--offer-center.bg-wrap&attributes(attributes)
		+pic(`banner-item-2.jpg`,'',0).picture-bg
		+e.title Каталог
		+e.caption Типовые арочные навесы<br>из поликарбоната<br><span>от 72 000 ₽</span>
		+e.btn(href="#") Смотреть варианты

mixin banner-item-offer()
	+b.banner-item--offer.bg-wrap&attributes(attributes)
		+pic(`banner-item-3.jpg`,'',0).picture-bg
		+e.title Калькулятор
		+e.caption Получите цену<br>навеса и посмотрите,<br>как он будет выглядеть
		+e.btn(href="#") Создать свой навес

//- +blogItem(6, `5&nbsp;причин, почему навес необходим практически каждому`)
//- 	+adv-item(`Акция`,`Скидка до 17% на навесы для&nbsp;автомобиля`,`Подробнее`,`1`)