mixin sFabrics(data)
	// start sFabrics
	+b.sFabrics.section#sFabrics&attributes(attributes)
		.container
			+e.row.row
				- for (var x = 0; x < 4; x++)
					.col-3
						+collectionItem()
			p *цвета на&nbsp;экране вашего устройства могут отличаться от&nbsp;оригинальных образцов тканей и&nbsp;выкрасок

	// end sFabrics