// start .sFabrics
.sFabrics {
	--sPT: 0;
	--sPB: #{rem(44)};
	// --sTPB: ;
	.section-title {
		h2 {
			@extend .h4;
		}
	}
	.container {
		& > p {
			font-weight: 400;
			font-size: rem(12);
			line-height: 115%;
			text-align: center;
			color: rgba($color: $dark, $alpha: 0.7);
			margin-top: var(--sTPB);
			margin-bottom: 0;
		}
	}
	&__row {
		--bs-gutter-y: #{rem(20)};
		@include media-breakpoint-up(md) {
			--bs-gutter-y: var(--bs-gutter-x);
		}
	}

	&__slider {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		overflow: visible;
		height: 14.7rem;
		@include media-breakpoint-up(md) {
			height: 17.2rem;
		}
		@include media-breakpoint-up(xl) {
			height: 19.7rem;
		}
		.swiper-wrapper {
			flex-wrap: wrap;
			flex-direction: column;
		}
	}
	&__slide {
		height: calc((100% - 32px) / 3) !important;
		// max-width: 11.6rem;
		max-width: rem(160);
		@include media-breakpoint-up(md) {
			max-width: rem(180);
			height: calc((100% - 48px) / 3) !important;
		}
		@include media-breakpoint-up(xl) {
			max-width: 11.6rem;
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sFabrics
