mixin sReviews(data)
	// start sReviews
	+b.SECTION.sReviews.section#sReviews&attributes(attributes)
		.container
			+b.section-title.text-center
				h4 Отзывы
				h2 Что говорят о&nbsp;наших навесах клиенты
			+e.slider-wrapper
				+arrow
				+e.slider--js.swiper
					.swiper-wrapper
						mixin sReviewsItem(i, h, n)
							+e.slide.swiper-slide
								+b.reviewItem
									+e.body
										img(src="img/svg/reviewItem-bg.svg", alt="")
										+e.subtitle Цитата из&nbsp;отзыва
										h4!= h
										+e.subtitle Аудио-отзыв
										audio.js-player(controls='')
											source(src="audio/sample.mp3" type="audio/mp3")
										+e.btn.link-modal-js(href="#modal-call-reviews") Читать отзыв
									+e.footer.row
										.col-auto
											+e.img-wrap.bg-wrap
												+icon('person')
												if i
													+pic(`person-${i}.jpg`, 'bg', 0).picture-bg
										.col
											+e.subtitle Клиент
											p!= n
											.small МО, г. Дмитров, СНТ &laquo;Квазаровка&raquo;
						
						+sReviewsItem('', `&laquo;Убрали за&nbsp;собой мусор, соблюдали чистоту&raquo;`, `Игорь`)
						+sReviewsItem('', `&laquo;Все договоренности соблюдаются&raquo;`, `Вадим Львович`)
						+sReviewsItem(1, `&laquo;Аккуратно все сделали и&nbsp;уложились в&nbsp;сроки&raquo;`, `Григорий`)
						+sReviewsItem('', `&laquo;Убрали за&nbsp;собой мусор, соблюдали чистоту&raquo;`, `Игорь`)
						+sReviewsItem('', `&laquo;Все договоренности соблюдаются&raquo;`, `Вадим Львович`)
						+sReviewsItem(1, `&laquo;Аккуратно все сделали и&nbsp;уложились в&nbsp;сроки&raquo;`, `Григорий`)
			+e.btn(href="#") Смотреть все 214 отзывов
	// end sReviews