
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-call" style="display: none" )
		+b.modal-win
			picture.modal-pic-js
			+form-wrap
				.text-center
					h4.modal-title-js
					p.modal-text-js
				+input("Ваше Имя")(required)
				+input("+7 ___ ___ __ __", 'tel')(required)
				+e.BUTTON.btn.btn.btn-gradient(type="submit")
				+agreement()(checked required)
				//- +e.agreement Отправляя заявку, вы&nbsp;даете свое согласие на&nbsp;обработку #[a(href="#modal-policy").link-modal-js персональных данных] 
			+e.img-wrap.bg-wrap
				+pic('modal-bg.jpg', 'bg', 0).picture-bg
				
	// #modal-call

	div(id="modal-call-reviews"  style="display: none" )
		+b.modal-win--reviews
			.sClientsReviews__wrap
				.row
					.col-md
						.sClientsReviews__profile
							.sClientsReviews__profile-content
								.sClientsReviews__avatar
								.sClientsReviews__info
									span Клиент
									span Игорь
									p МО, г. Дмитров, СНТ &laquo;Квазаровка&raquo;
					.col-md
						audio.js-player(controls='')
							source(src="audio/sample.mp3" type="audio/mp3")
				+content('&laquo;Убрали за&nbsp;собой мусор, соблюдали чистоту&raquo;', 'Вы&nbsp;купили себе дом! Время обустраивать участок. Есть куча идей для построек: из&nbsp;бревен, кирпичей, металла, дерева и&nbsp;других материалов, и&nbsp;все эти идеи можно воплотить с&nbsp;помощью навеса. В&nbsp;этой статье мы&nbsp;расскажем о&nbsp;7&nbsp;способах, как украсить участок, и&nbsp;сделать жизнь комфортнее под навесом.Вы купили себе дом! Время обустраивать участок. Есть куча идей для построек: из&nbsp;бревен, кирпичей, металла, дерева и&nbsp;других материалов, и&nbsp;все эти идеи можно воплотить с&nbsp;помощью навеса. В&nbsp;этой статье мы&nbsp;расскажем о&nbsp;7&nbsp;способах, как украсить участок, и&nbsp;сделать жизнь комфортнее под навесом.Вы купили себе дом! Время обустраивать участок. Есть куча идей для построек: из&nbsp;бревен, кирпичей, металла, дерева и&nbsp;других материалов, и&nbsp;все эти идеи можно воплотить с&nbsp;помощью навеса. В&nbsp;этой статье мы&nbsp;расскажем о&nbsp;7&nbsp;способах, как украсить участок, и&nbsp;сделать жизнь комфортнее под навесом.', 'Вы&nbsp;купили себе дом! Время обустраивать участок. Есть куча идей для построек: из&nbsp;бревен, кирпичей, металла, дерева и&nbsp;других материалов, и&nbsp;все эти идеи можно воплотить с&nbsp;помощью навеса. В&nbsp;этой статье мы&nbsp;расскажем о&nbsp;7&nbsp;способах, как украсить участок, и&nbsp;сделать жизнь комфортнее под навесом.Вы купили себе дом! Время обустраивать участок. Есть куча идей для построек: из&nbsp;бревен, кирпичей, металла, дерева и&nbsp;других материалов, и&nbsp;все эти идеи можно воплотить с&nbsp;помощью навеса. В&nbsp;этой статье мы&nbsp;расскажем о&nbsp;7&nbsp;способах, как украсить участок, и&nbsp;сделать жизнь комфортнее под навесом.Вы купили себе дом! Время обустраивать участок. Есть куча идей для построек: из&nbsp;бревен, кирпичей, металла, дерева и&nbsp;других материалов, и&nbsp;все эти идеи можно воплотить с&nbsp;помощью навеса. В&nbsp;этой статье мы&nbsp;расскажем о&nbsp;7&nbsp;способах, как украсить участок, и&nbsp;сделать жизнь комфортнее под навесом.')
				
	// #modal-call-reviews
	
	div(id="modal-policy"  style="display: none" )
		+b.modal-win--reviews.d-block.p-4
			p Политика конфиденциальности объясняет пользователям ресурса <a href="https://naves-na-zakaz.ru/">https://naves-na-zakaz.ru</a>/ (сайт \ мобильное приложение), с какой целью их личная информация собирается, и как будет использоваться.

			p Сайт <a href="https://naves-na-zakaz.ru/"> https://naves-na-zakaz.ru/</a> уважает ваше право и соблюдает конфиденциальность при заполнении, передачи и хранении ваших персональных данных.

			p Размещение заявки на сайте <a href="https://naves-na-zakaz.ru/">https://naves-na-zakaz.ru</a> означает Ваше согласие на обработку данных и дальнейшей передачи ваших контактных данных компании «Навес на заказ».

			p Под персональными данными подразумевается информация, относящаяся к субъекту персональных данных, в частности фамилия, имя и отчество, дата рождения, адрес, контактные реквизиты (телефон, адрес электронной почты), семейное, имущественное положение и иные данные, относимые Федеральным законом от 27 июля 2006 года № 152-ФЗ «О персональных данных» (далее – «Закон») к категории персональных данных.

			p Целью обработки персональных данных является оказание сайтом <a href="https://naves-na-zakaz.ru/">https://naves-na-zakaz.ru</a> информационно-справочных услуг, а также информирование об оказываемых услугах компании «Навес на заказ».

			p В случае отзыва согласия на обработку своих персональных данных мы обязуемся удалить Ваши персональные данные в срок не позднее 3 рабочих дней. Отзыв согласия можно отправить в электронном виде по адресу: <a href="mailto:info@naves-na-zakaz.ru">info@naves-na-zakaz.ru</a>

				
	// #modal-policy
	
	div(id="modal-callback"  style="display: none" )
		+b.modal-win--callback
			+form-wrap
				.row
					.col-lg-6
						+e.wrap
							picture.modal-avatar-js
							.text-center
								.h4 Обратный звонок
								p Оставьте свой номер телефона и&nbsp;мы&nbsp;вам перезвоним в&nbsp;течение 15&nbsp;минут
							//- +input("Ваше Имя")(required)
							+input("Ваш телефон", 'tel')(required)
							+e.BUTTON.btn.btn.btn-primary.btn-gradient(type="submit") Запросить обратный звонок
							+agreement()(checked required)
							//- +e.agreement Отправляя заявку, вы&nbsp;даете свое согласие на&nbsp;обработку #[a(href="#modal-policy").link-modal-js персональных данных] 
					.col-lg-6.d-none.d-lg-block
						+e.img-wrap
							+pic('modal-bg-2.jpg', 'bg', 0)
						picture.modal-pic-js.img

	// #modal-callback

	// end modals