:root {
	--fancybox-content-bg: none;
}

.fancybox__track {
	@include media-breakpoint-down(md) {
		height: 100%;
	}
}
.fancybox__slide {
	@include media-breakpoint-down(md) {
		padding: 0;
		&:before, &::after {
			content: unset;
		}
	}
}

.fancybox__content {
	--carousel-button-width: 32px;
	--carousel-button-height: 32px;
	--carousel-button-svg-width: 16px;
	--carousel-button-svg-height: 16px;
	padding: 0;
	max-width: 100%;
	@include media-breakpoint-down(md) {
		height: 100%;
		width: 100%;
	}
	& > .carousel__button {
		@include mt;
		--carousel-button-svg-filter: none;
		--carousel-button-bg: transparent;
		&.is-close {
			// right: -8px;
			// top: -8px;
			// color: #35455c;
			right: 10px;
			top: 10px;
			color: $primary;
			// color: #D3D5D8;
			@include media-breakpoint-up(md) {
				// color: $secondary;
				right: -8px;
				top: -8px;
				--carousel-button-bg: #{$light};
				color: $secondary;
				&:hover {
					--carousel-button-bg: #{$primary};
					color: #{$white};
				}
			}
			svg {
				font-size: 20px;
			}
		}
	}
}
.modal-win {
	// display: block;
	position: relative;
	display: flex;
	background-color: $white;
	max-width: 100%;
	position: relative;
	width: rem(500);
	padding: 0;
	box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.09);
	border-radius: 16px;
	overflow: hidden;
	@media (min-width: 700px) {
		width: rem(656);
	}
	@include media-breakpoint-down(md) {
		height: 100%;
		width: 100% !important;
		border-radius: 0;
	}
	// @media (min-width: 700px) {
	// 	width: rem(656);
	// }
	&--reviews {
		width: rem(800);
		@media (min-width: 700px) {
			width: rem(800);
		}
		@include media-breakpoint-down(md) {
			width: 100% !important;
		}
		.sClientsReviews__wrap {
			padding: rem(32) rem(16) rem(32);
			background-color: $white;
			@media (min-width: 450px) {
				padding: rem(32);
			}
			.row {
				margin-bottom: rem(24);
				--bs-gutter-x: #{rem(20)};
				--bs-gutter-y: var(--bs-gutter-x);
			}
			.plyr--audio {
				max-width: rem(336);
				@include media-breakpoint-up(md) {
					margin-left: auto;
				}
			}
		}
		.sClientsReviews__profile {
			margin-bottom: 0;
		}
		.modal-win__content {
			h4 {
				margin-bottom: rem(13);
				color: $black;
			}
			p {
				font-size: rem(13);
				color: $black;
				font-weight: 500;
				@include media-breakpoint-up(sm) {
					font-size: rem(14);
				}
				@include media-breakpoint-up(md) {
					font-size: rem(16);
				}
				@include media-breakpoint-up(lg) {
					font-size: rem(18);
				}
				&:first-of-type {
					margin-bottom: rem(15);
					@include media-breakpoint-up(lg) {
						margin-bottom: rem(31);
					}
				}
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
	& > picture {
		position: absolute;
		bottom: -1px;
		right: 24px;
		width: auto;
		max-height: calc(100% - 12px);
		z-index: 3;
		display: none;
		@include media-breakpoint-up(md) {
			display: block;
		}
	}
	.form-wrap {
		position: relative;
		padding: rem(32) rem(16) rem(24);
		width: 100%;
		z-index: 4;
		@media (min-width: 450px) {
			padding: rem(32);
		}
		@media (min-width: 700px) {
			padding: rem(32) rem(30) rem(42) rem(32);
			width: 53%;
		}
		@include media-breakpoint-down(md) {
			width: 100% !important;
		}
		@include media-breakpoint-down(md) {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		h4 {
			@media (min-width: 450px) {
				margin-bottom: rem(17);
			}
		}
		&__btn {
			@extend .btn, .btn-primary, .btn-lg;
			width: 100%;
			margin-top: rem(4);
			margin-bottom: rem(4);
			padding-left: rem(16);
			padding-right: rem(16);
			@media (min-width: 700px) {
			}
		}
		&__agreement {
			font-size: 10px;
			line-height: 115%;
			// text-align: center;
			color: $secondary;
			margin-top: rem(14);
			// max-width: 24em;
			margin-left: auto;
			margin-right: auto;
			@media (min-width: 450px) {
				margin-top: rem(22);
			}
			a {
				color: currentColor;
				&:not(:hover) {
					text-decoration: underline;
				}
			}
		}
		p {
			font-weight: 500;
			font-size: rem(13);
			line-height: 150%;
			text-align: center;
			color: rgba($color: $secondary, $alpha: 0.5);
			margin-bottom: rem(18);
			// max-width: 22em;
			// margin-left: auto;
			// margin-right: auto;
			@media (min-width: 450px) {
				font-size: rem(14);
				margin-bottom: rem(21);
			}
			@include media-breakpoint-up(md) {
				max-width: 22em;
				margin-left: auto;
				margin-right: auto;
			}
		}
		&__input-wrap {
			margin-bottom: rem(9);
			@media (min-width: 450px) {
				margin-bottom: rem(12);
			}
		}
		&__input {
			background-color: $light;
			padding: rem(15);
			font-size: rem(14);
			&:focus {
				background-color: $white;
			}
			&::placeholder {
				color: rgba($color: $body-color, $alpha: 0.5);
				font-weight: 500;
				font-size: rem(14);
			}
		}
	}
	&__img-wrap {
		width: 47%;
		display: none;
		@include media-breakpoint-up(md) {
			display: block;
		}
		picture {
			height: calc(100% + 2px);
			width: calc(100% + 2px);
			margin: -1px;
			right: 0;
			left: auto;
			z-index: -1;
		}
	}
	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}
	&--callback {
		width: 1008px !important;
		@include media-breakpoint-down(md) {
			height: 100%;
			border-radius: 0;
		}
		.form-wrap {
			height: 100%;
			padding: rem(30) rem(74);
			padding: rem(20) !important;
			@media (min-width: 700px) {
				width: 100%;
			}
			@include media-breakpoint-up(lg) {
				padding: 0 !important;
			}
			form {
				height: 100%;
			}
			.row {
				height: 100%;
				align-items: center;
			}
			&__wrap {
				@include media-breakpoint-up(lg) {
					// padding-left: rem(72);
					padding: rem(20) 0 rem(20) rem(72);
				}
			}
			.h4 {
				font-size: 22px;
				line-height: 1.5em;
				@include media-breakpoint-up(lg) {
					font-size: 30px;
				}
			}
			p {
				font-weight: 500;
				color: rgba($color: $secondary, $alpha: .75);
				line-height: 1.55em;
				font-size: rem(14);
				@media (min-width: 450px) {
					font-size: rem(16);
					margin-bottom: rem(30);
				}
			}
			&__input {
				background-color: #fff;
				border: 1px solid #D3D5D8;
				border-radius: 10px;
				padding: rem(13.5);
				font-size: 14px;
				font-weight: 500;
				text-align: center;
				@include media-breakpoint-up(lg) {
					padding: rem(20.5);
					font-size: 16px;
				}
				&::placeholder{
					color: rgba(44, 52, 64, 0.5) !important;
					opacity: 1 !important;
					font-size: 14px;
					@include media-breakpoint-up(lg) {
						font-size: 16px;
					}
				}
			}
			&__input-title {
				display: none;
			}
			&__btn {
				--bs-btn-border-radius: 10px;
				padding-bottom: rem(16.5) !important;
				padding-top: rem(16.5) !important;
				box-shadow: none !important;
				margin-top: rem(20);
				font-size: 14px;
				@include media-breakpoint-up(lg) {
					padding-bottom: rem(25.5) !important;
					padding-top: rem(25.5) !important;
					font-size: 16px;
				}
				&::after {
					content: unset;
				}
			}
			&__agreement {
				font-size: 12px;
				line-height: 1.4;
				color: rgba($color: $secondary, $alpha: .75);
				max-width: none;
				@include media-breakpoint-up(lg) {
					font-size: 14px;
				}
			}
			&__img-wrap {
				position: relative;
				// top: 0;
				// right: 0;
				z-index: -1;
				@include media-breakpoint-down(lg) {
					display: none;
				}
				&:before {
					content: '';
					position: absolute;
					display: block;
					width: 100%;
					height: 100%;
					background-image: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 97.95%);
				}
			}
			.modal-avatar-js {
				text-align: center;
				margin-bottom: rem(20);
				// transform: rotateY(180deg);
				@include media-breakpoint-up(lg) {
					display: none;
				}
				img {
					max-width: 100%;
					height: auto;
				}
			}
		}
		.img {
			display: none;
			position: absolute;
			bottom: 0;
			right: rem(70);
			z-index: -1;
			@include media-breakpoint-up(lg) {
				display: block;
			}
			img {
				max-width: 100%;
				height: auto;
			}
		}
	}
}

#modal-callback {
	.carousel__button.is-close {
		--carousel-button-bg: transparent;
		right: 10px;
    top: 10px;
		color: #D3D5D8;
		@include media-breakpoint-up(lg) {
			color: $secondary;
			right: 20px;
			top: 20px;
		}
		svg {
			font-size: 20px;
		}
	}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: 0.65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}

//
@include media-breakpoint-up(xl) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(xs) {
}

//
@include media-breakpoint-between(md, xl) {
}

//
@include media-breakpoint-only(xs) {
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(xl) {
}

//
@include media-breakpoint-down(xl) {
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(xs) {
	.fancybox__container {
		width: 100% !important;
		min-height: 100%;
		transform: none !important;
	}
}

.fancybox__content :focus:not(.carousel__button.is-close) {
	outline: none;
}
.fancybox__slide {
	padding: rem(48) rem(16) rem(16) rem(16);
	@media (min-width: 1024px) {
		padding: rem(64) rem(100);
	}
}
