// start .sContact
.sContact {
	--sPT: #{rem(32)};
	--sPB: #{rem(32)};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(80)};
		--sPB: #{rem(90)};
	}
	color: #000;
	&__col-map {
		// order: 2;
		@include media-breakpoint-up(lg) {
			order: unset;
		}
	}
	&__col-info {
		// order: 1;
		margin-bottom: rem(30);
		@include media-breakpoint-up(lg) {
			order: unset;
			margin-bottom: 0;
		}
	}
	h2 {
		max-width: 16em;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: rem(32);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(78);
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(78);
		}
	}
	&__row {
		margin-bottom: rem(16);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(40);
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(80);
		}
	}
	&__map {
		position: relative;
		// height: rem(751);
		@include media-breakpoint-up(lg) {
			height: 100%;
		}
		// min-height: rem(400);
		// max-height: rem(622);
		@include block(800, 622);
		.ymaps-map {
			border-radius: rem(16);
		}
		& > * {
			position: absolute;
			top: 0;
			left: 0;
			width: 100% !important;
			height: 100% !important;
		}
		// &::after {
		// 	position: absolute;
		// 	content: "";
		// 	background: #f2f6fc;
		// 	filter: blur(321px);
		// 	display: block;
		// 	width: rem(815);
		// 	height: rem(815);
		// 	top: -50%;
		// 	left: -50%;
		// 	z-index: -7;
		// }
		@include media-breakpoint-down(lg) {
			margin-bottom: 40px;
		}
	}
	&__info {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		margin-bottom: rem(30);
		margin-top: rem(13);
		@include media-breakpoint-up(lg) {
			margin-top: 0;
			align-items: center;
			flex-direction: row;
		}
		.locaton-dropdown {
			margin-right: rem(30);
			margin-bottom: rem(33);
			@include media-breakpoint-up(lg) {
				margin-bottom: 0;
			}
			&__btn {
				color: rgba($color: $body-color, $alpha: 0.5);
				span {
					@include mt(0.15s);
				}
				&:not(:hover) {
					span {
						color: $body-color;
					}
				}
			}
		}
		// .schedule {
		// 	span {
		// 		&:first-child {
		// 			background-color: #b8b8b8;
		// 		}
		// 	}
		// }
	}
	&__wrap {
		display: flex;
		flex-direction: column;
		&:not(:last-of-type) {
			margin-bottom: rem(30);
		}
		h5 {
			@include rfs(18px);
			margin-bottom: rem(15);
		}
		& > a {
			font-size: rem(14);
			color: $dark;
			&:hover {
				color: $primary;
			}
		}
	}
	&__map-point {
		@include mt;
		background-color: $light;
		// border-radius: rem(1000);
		padding: rem(12) rem(16);
		font-size: rem(12);
		font-weight: 600;
		width: fit-content;
		line-height: 12px;
		cursor: pointer;
		&:not(:last-of-type) {
			margin-bottom: rem(8);
		}
		&:hover {
			box-shadow: 0 0 13px rgba(0, 0, 0, 0.09);
		}
	}
	&__phone-number {
		@include media-breakpoint-up(lg) {
			display: flex;
			flex-direction: column;
		}
		a {
			font-size: rem(24);
			color: $dark;
			&:hover {
				color: $primary;
			}
		}
	}
	&__content {
		@include roww(15px, m);
		--bs-gutter-y: var(--bs-gutter-x);
		margin-top: calc(-1 * var(--bs-gutter-y));
		@include media-breakpoint-up(lg) {
			display: flex;
			align-items: flex-end;
			flex-wrap: wrap;
		}
		// gap: rem(15);
		& > * {
			margin-top: var(--bs-gutter-y);
		}
		@include media-breakpoint-up(lg) {
			max-width: rem(349);
		}
	}
	&__links {
		background-color: $light;
		&:hover {
			background-color: $white;
			box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
		}
		.icon {
			font-size: rem(16);
		}
		&:first-of-type {
			padding: rem(7) rem(11) rem(7) rem(11);
			// border-radius: rem(1000);
			color: $dark;
			font-size: rem(12);
			&:hover {
				color: $dark;
			}
			span {
				font-size: rem(12);
				font-weight: 600;
			}
			.icon {
				color: $success;
				margin-right: rem(8);
				vertical-align: sub;
			}
		}
		&:not(:first-of-type) {
			width: rem(32);
			height: rem(32);
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: rem(1000);
			.icon {
				color: #d21fff;
			}
		}
		&--yt {
			.icon {
				color: #ff0000 !important;
			}
		}
	}
	&__btn {
		padding: rem(10) rem(15);
		font-size: rem(12) !important;
		// margin-top: 0.5rem;
		color: $white !important;

		// &:hover {
		// 	color: $dark !important;
		// 	box-shadow: 0 0 1.25rem rgb(0 0 0 / 15%);
		// }
	}
	.form-wrap {
		&__input-wrap {
			&:first-of-type {
				@include media-breakpoint-down(lg) {
					margin-bottom: rem(8);
				}
			}
		}
		&__input {
			border: 1px solid $primary;
			// border-radius: 7px;
		}
		textarea {
			min-height: rem(112);
			@include media-breakpoint-up(lg) {
				// min-height: 179px;
				min-height: rem(190);
			}
		}
		.btn {
			width: 100%;
			margin-top: rem(20);
		}
	}

	&__flex {
		@include roww(10px, m);
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		margin-left: 0;
		margin-right: 0;
		margin-top: rem(5);
		& > * {
			margin-top: rem(10);
		}
	}
	&--3 {
		.section-title {
			margin-bottom: rem(40);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(60);
			}
			h4 {
				line-height: 1.3em;
				margin-bottom: rem(18);
				@include media-breakpoint-up(xl) {
					font-size: rem(24);
				}
				@include media-breakpoint-up(lg) {
					margin-bottom: rem(24);
				}
			}
			h2 {
				max-width: rem(895);
				margin-bottom: 0;
				@include media-breakpoint-up(xl) {
					font-size: rem(48);
					margin-bottom: 0;
				}
			}
		}
		.sContact {
			&__info {
				justify-content: center;
				margin-bottom: rem(30);
				@include media-breakpoint-down(lg) {
					align-items: center;
					text-align: center;
				}
				.locaton-dropdown {
					margin-right: rem(30);
					@include media-breakpoint-down(lg) {
						margin-left: auto;
						margin-right: auto;
						padding-left: rem(10);
					}
					&__btn {
						.icon {
							&-geo-tag {
								font-size: rem(22);
							}
							&-chevron-down {
								font-size: rem(6);
							}
						}
						span {
							font-size: rem(14);
							font-weight: 500;
						}
					}
					&__content {
						top: calc(100% + 10px);
					}
				}
				.schedule {
					span {
						&:first-child {
							width: rem(54);
							height: 14px;
							font-size: rem(10);
						}
						&:last-child {
							font-size: rem(14);
							color: $dark;
							font-weight: 500;
						}
					}
				}
			}
			&__wrap {
				text-align: center;
				&:not(:last-of-type) {
					margin-bottom: rem(15);
				}
				& > a {
					font-weight: 500;
				}
				h5 {
					font-size: rem(18);
					margin-bottom: rem(15);
				}
			}
			&__content {
				justify-content: center;
				margin-left: auto;
				margin-right: auto;
				&__phone-number {
					a {
						font-size: rem(24);
						&:not(:last-child) {
							margin-bottom: rem(18);
						}
					}
				}
			}
			&__btn {
				--bs-btn-padding-y: #{rem(10)};
				--bs-btn-font-size: #{rem(12)};
				--bs-btn-color: #{$dark};

				margin-top: rem(19);
			}
			&__flex {
				justify-content: center;
			}
			&__links {
				display: flex;
				align-items: center;
				.icon {
					flex: 0 0 auto;
					font-size: 14px;
				}
			}
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}
	@include media-breakpoint-only(sm) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-only(lg) {
	}
	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.sContact
