mixin sAdvantages(data)
	// start sAdvantages
	+b.sAdvantages.section#sAdvantages&attributes(attributes)
		.container
			.row
				mixin sAdvantagesItem(i, h, p)
					.col-sm-6.col-lg-4
						+e.item
							img(src=`img/svg/sAdvantages-${i}.svg`, alt="")
							h4!= h
							p!= p
				+sAdvantagesItem(1, `6&nbsp;цехов <br> производства`, `Быстрое изготовление и&nbsp;доставка из&nbsp;ближайшего цеха`)
				+sAdvantagesItem(2, `Соблюдаем СП, <br> СНИП и&nbsp;ГОСТ`, `Имеем все необходимые сертификаты качества`)
				+sAdvantagesItem(3, `Предоплата <br> всего&nbsp;50%`, `50% на&nbsp;материалы до&nbsp;начала работ, 50%&nbsp;&mdash; по&nbsp;завершению`)
				+sAdvantagesItem(4, `Бесплатный замер, <br> смета и&nbsp;3D-макет`, `Узнайте заранее внешний вид и&nbsp;цену будущего навеса`)
				+sAdvantagesItem(5, `Гарантия на <br> навес 1&nbsp;год`, `Устраним недостатки или заменим за&nbsp;свой счет в&nbsp;случае брака`)
	// end sAdvantages