.pixel-perfect {
	top: 0;
	display: block;
	@include a-cent(x);
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	background-position: center 0;
	opacity: 0;
	// height: 22394px;
	// opacity: 0.7;
}

body,
html {
	font-size: var(--bs-body-font-size);
}
html {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(33, 36, 41, 0);
	// margin-right: calc(-1 * (100vw - 100%));
}

body {
	&.fixed,
	&.fancybox-active {
		.header {
			padding-right: var(--spacing-end);
		}
		margin-right: var(--spacing-end);
	}
	// min-width: 575px;
	// -webkit-font-smoothing: antialiased;
	// position: relative;
	// overflow-x: hidden;

	&.loaded_hiding {
		@include mt;

		opacity: 0;
		pointer-events: none;

		&::before {
			display: none;
		}
	}

	&.loaded {
		pointer-events: visible;
		opacity: 1;
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		// background-color: $body-color;
		background-color: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(20px);
		opacity: 0;
		z-index: -1;
		// left: 200px;
		left: 0;
		// opacity: 1;
		// z-index: 1;
		top: 0;
	}

	&.fancybox-active {
		overflow: hidden;
	}

	.fancybox__backdrop {
		backdrop-filter: blur(20px);
	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		&::before {
			z-index: 999;
			opacity: 1;
		}
	}
}

.main-wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
	// display: flex;
	// flex-direction: row;
	// /	overflow: scroll;
	// width: 100%;
	// height: 100vh;
	// height: calc(var(--vh, 1vh) * 100);
	// margin-top: rem(48);
	margin-top: rem(60);
	@include media-breakpoint-up(lg) {
		margin-top: rem(64);
	}
	// @include media-breakpoint-down(lg) {
	// 	padding-bottom: rem(60);
	// }
}
// .main-wrapper__inner{
// 	// overflow-x: hidden;
// 	display: flex;
// 	flex-direction: column;
// 	min-width: 0;
// 	min-height: 100vh;
// 	flex-grow: 1;
// }

.section {
	@include bgs;
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}
.section-wrapper {
	max-width: 1392px;
	margin-left: auto;
	margin-right: auto;
	// border-radius: 32px;
	background-color: $light;
	overflow: hidden;
	&--footer {
		@include media-breakpoint-up(xxl) {
			margin-bottom: rem(150);
		}
	}
	&--before {
		position: relative;
		overflow: visible;
		&::before {
			content: "";
			position: absolute;
			pointer-events: none;
			width: 100vw;
			height: rem(1588);
			// height: rem(1588);
			left: calc(-1 * (100vw - 100%) / 2);
			background-color: rgba(209, 196, 174, 0.4);
			z-index: -1;
		}
	}
	&--after {
		position: relative;
		overflow: visible;
		&::after {
			content: "";
			position: absolute;
			left: calc(-1 * (100vw - 100%) / 2);
			top: rem(1588);
			width: 100vw;
			height: rem(2418);
			pointer-events: none;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='1920' height='2419' viewBox='0 0 1920 2419' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 0H1920V1472.88L0 2418.5V0Z' fill='url(%23paint0_linear_2471_2000)' fill-opacity='0.6'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_2471_2000' x1='-24' y1='1923' x2='4279.5' y2='701' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23F4EEE4'/%3e%3cstop offset='1' stop-color='%23FBF8F4' stop-opacity='0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: top;
			z-index: -3;
		}
	}
}

.section-title {
	margin-bottom: var(--sTPB);
	h4 {
		color: rgba($color: $secondary, $alpha: 0.5);
		margin-bottom: rem(16);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(24);
		}
	}
}

.mono {
	font-family: $font-family-code;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}
.fw-400 {
	font-weight: 400;
}

.fw-900 {
	font-weight: 900;
}
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}
.fw-100 {
	font-weight: 100;
}

.row--sm {
	--bg-gutter-x: #{rem(20)};
}

.slick-slide img {
	display: inline;
}

.image-source-link {
	color: #98c3d1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: pointer;
	&.l {
		left: 0;
		svg {
			transform: transform(rotateY(180deg));
		}
	}
	&.r {
		right: 0;
	}
	svg {
		width: 17px;
		height: auto;
	}
}

.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table;
}

.tr {
	display: table-row;
}

.td {
	display: table-cell;
}

.tabs__btn-accordion {
	// display: none;
	width: 100%;
}
.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {
		}
	}

	&__content {
		opacity: 0;
		@include mt;
		&.active {
			display: block;
			opacity: 1;
		}

		display: none;
	}
}

.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.control-wrap {
	position: relative;
}

.swiper-button-hand {
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%;
	background-color: var(--swiperBgDef);
	border: 1px solid var(--swiperBorderColorDef);
	color: var(--swiperColorDef);
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y);
	// filter: drop-shadow(0px 10px 13px rgba(0, 0, 0, 0.09));
	@include mt;
	user-select: none;

	&:hover {
		background-color: var(--swiperBgDefHover);
		border-color: var(--swiperBorderColorDefHover);
		color: var(--swiperColorDefHover);
	}

	.icon {
		@include a-cent;
		font-size: rem(10);
		@media (min-width: 440px) {
			font-size: rem(15);
		}
	}

	&::after {
		display: none;
	}
	&-next {
		right: var(--swiperArrowPosition);
	}

	&-prev {
		left: var(--swiperArrowPosition);
	}
}

.swiper-pagination {
	@include roww(16px, m);
	--bs-gutter-y: var(--bs-gutter-x);
	margin-top: calc(-1 * var(--bs-gutter-y) / 4);

	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	&-bullet {
		@include mt;
		position: relative;
		opacity: 1;
		width: rem(16);
		height: rem(16);
		border-radius: 50%;
		outline: none !important;
		background-color: transparent;
		margin-top: calc(var(--bs-gutter-y) / 4);
		// margin-left: rem(8);
		// margin-right: rem(8);
		display: inline-block;
		&::after {
			content: "";
			@include a-cent;
			width: rem(8);
			height: rem(8);
			border-radius: 50%;
			background-color: #d1c4ae;
		}
		&-active {
			background-color: $white;
			&::after {
				background-color: #dabd8e;
			}
		}
		&:hover {
			@include media-breakpoint-up(lg) {
				background-color: $white;
				&::after {
					background-color: #dabd8e;
				}
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}

img {
	// content-visibility: auto;
}
picture {
	display: block;
	img {
		@extend .res-i;
	}
}

img.object-fit-js {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
}

a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.object-fit-js {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}

.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;
}

iframe {
	border: none;
}

// *::selection {
// 	color: #fff;
// 	/* Цвет текста */
// 	background: var(--bs-primary) ;
// 	/* Цвет фона */
// }

.custom-scroll {
	/* ===== Scrollbar CSS ===== */
	/* Firefox */
	--bs-primary: #dedede;

	& {
		scrollbar-width: auto;
		scrollbar-color: var(--bs-primary) transparent;
	}

	/* Chrome, Edge, and Safari */
	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--bs-primary);
		border-radius: 16px;
		border: 0px solid transparent;
	}
}

::-webkit-calendar-picker-indicator {
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 24 24'><path fill='#{$primary}' d='M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z'/></svg>");
}

.swiper-wrapper {
	// @include row-sw(10px, sm, 100px);
}

.accordion-item {
	--imgS: #{rem(80)};
	border: 1px solid #f4f4f4;
	// margin-left: auto;
	// margin-right: auto;
	// max-width: rem(640);
	margin-bottom: 10px;
	overflow: hidden;
	&:last-child {
		margin-bottom: 0;
	}
	&__head {
		position: relative;
		cursor: pointer;
		padding: rem(7) 0 rem(7) rem(30);
		@include media-breakpoint-up(md) {
			padding: rem(20) 0 rem(20) rem(36);
		}
		h4 {
			margin-bottom: 0;
			line-height: 130%;
			@include media-breakpoint-down(sm) {
				font-size: rem(18);
			}
		}
		.icon {
			@include mt(0.2s);
			position: absolute;
			font-size: rem(16);
			fill: none;
			stroke: #dabd8e;
			stroke-width: 3px;
			top: rem(8);
			left: rem(3);
			@include media-breakpoint-up(sm) {
				top: rem(12);
			}
			@include media-breakpoint-up(md) {
				top: rem(24);
			}
			@include media-breakpoint-up(xl) {
				top: rem(27);
			}
		}
		&.active {
			.icon {
				transform: rotate(90deg);
			}
		}
	}
	&__content {
		display: none;
		max-width: rem(1000);
		font-weight: 500;
		font-size: rem(16);
		line-height: 150%;
		color: rgba($color: #000000, $alpha: 0.7);
		padding-top: rem(10);
		@include media-breakpoint-up(xl) {
			padding-top: rem(15);
			font-size: rem(18);
		}
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.btn-gradient {
	position: relative;
	border: none !important;
	z-index: 2;
	overflow: hidden;
	&::before {
		content: "";
		@include mt;
		pointer-events: none;
		position: absolute;
		width: 200%;
		height: 100%;
		right: 0;
		top: 0;
		background-image: linear-gradient(
			141deg,
			rgba(217, 188, 141, 1) 0%,
			rgba(164, 139, 99, 1) 50%,
			rgba(217, 188, 141, 1) 100%
		);
		background-size: 100% 100%;
		background-position: left top;
		z-index: -1;
	}
	&:hover,
	&:active {
		&::before {
			transform: translateX(50%);
		}
	}
}

.btn-primary {
	--bs-btn-color: #ffffff;
	--bs-btn-hover-color: #ffffff;
	--bs-btn-active-color: #ffffff;

	&.with-shadow {
		position: relative;
		border: 1px solid transparent;
		background-clip: padding-box;
		box-shadow: 0px 4px 0px #e2a826, 0px 10px 13px rgba(0, 0, 0, 0.09) !important;
		&::after {
			content: "";
			position: absolute;
			background-image: linear-gradient(180deg, #ffc136 0%, #ffda88 100%);
			top: -1px;
			bottom: -1px;
			left: -1px;
			right: -1px;
			z-index: -1;
			border-radius: 1000px;
		}
	}
}
.btn-lg {
	font-weight: 700;
	line-height: 145%;
	@include media-breakpoint-down(md) {
		padding-top: rem(7.5);
		padding-bottom: rem(7.5);
	}
}

h1 {
	@include media-breakpoint-up(xl) {
		font-size: rem(60);
	}
	@include media-breakpoint-down(sm) {
		@include rfs(31px);
	}
}
h2 {
	@include media-breakpoint-up(xl) {
		font-size: rem(48);
	}
	@include media-breakpoint-down(sm) {
		@include rfs(31px);
	}
}
h3 {
	@include media-breakpoint-up(xl) {
		font-size: rem(36);
	}
	@include media-breakpoint-down(sm) {
		@include rfs(31px);
	}
}
h4 {
	@include media-breakpoint-up(xl) {
		font-size: rem(24);
	}
}

.plyr--audio {
	width: 100%;
	// .plyr__controls {
	// 	border-radius: 10px;
	// }
	.plyr__menu {
		display: none;
	}
	.plyr__time {
		display: none;
	}
}
.btn {
	&:focus {
		box-shadow: none !important;
	}
	&:focus:active {
		box-shadow: none !important;
	}
}
.btn-info {
	color: $secondary;
}

.dropdown {
	// position: relative;
	// &__btn {
	// }
	&__content {
		display: none;
		position: absolute;
		left: 0;
		top: calc(100% + rem(63));
		z-index: 998;
	}
	&__item {
		display: block;
	}
}

.grecaptcha-badge {
	opacity: 0 !important;
	visibility: hidden !important;
	pointer-events: none !important;
}

.page-404 {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	.main-wrapper {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
}
.s404 {
	margin-top: calc(#{rem(60)} + #{rem(70)});
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	@include media-breakpoint-up(md) {
		margin-top: calc(#{rem(60)} + #{rem(90)});
	}
	@include media-breakpoint-up(lg) {
		margin-top: 0;
		min-height: 700px;
	}
	min-height: 440px;
	&__title {
		font-weight: 700;
		@include rfs(295.121px);
		line-height: 100%;
		color: #35455c;
		// text-shadow: ;
		svg {
			@include a-cent1;
			max-width: calc(140%);
			// z-index: 1;
			z-index: -1;
		}
		position: relative;
	}
	&__inner {
		&--back {
			z-index: -2;
			@include a-cent1;
			margin-top: 4px;
			margin-left: 4px;
			color: $primary;
		}
		&--front {
			z-index: 3;

			position: relative;
		}
	}
	&__text {
		font-size: rem(18);
		font-weight: bold;
		margin-bottom: rem(40);
	}
}

.main-page {
	// @include media-breakpoint-down(lg) {
	// 	.top-nav {
	// 		background-color: transparent;
	// 		&.fixed {
	// 			background-color: #fff;
	// 			.toggle-menu-mobile {
	// 				--color: #{$secondary};
	// 			}
	// 		}
	// 	}
	// 	.toggle-menu-mobile {
	// 		--color: #fff;
	// 	}
	// }
	// .logo {

	// &:not(:hover) {
	// 	@include media-breakpoint-down(lg) {
	// 		color: #fff;
	// 	}
	// }
	// }
}

.gradient-border {
	--border-width: 2px;
	--border-radius: 7px;
	--color-1: #a48b63;
	--color-2: #d9bc8d;
	color: $secondary;
	position: relative;
	background: linear-gradient(141.69deg, #a48b63 0%, #d9bc8d 100%), linear-gradient(141.69deg, #a48b63 0%, #d9bc8d 100%);
	background-position: var(--border-radius) 0, var(--border-radius) 100%;
	background-repeat: no-repeat;
	background-size: calc(100% - var(--border-radius) - var(--border-radius)) var(--border-width);
	border-radius: var(--border-radius);
	border: none;
	&:after,
	&:before {
		content: "";
		display: block;
		position: absolute;
		width: calc(var(--border-radius) + 3px);
		top: 0;
		bottom: 0;
	}
	&:before {
		left: 0;
		border: var(--border-width) solid var(--color-1);
		border-top-left-radius: var(--border-radius);
		border-bottom-left-radius: var(--border-radius);
		border-right-color: transparent;
	}
	&:after {
		right: 0;
		border: var(--border-width) solid var(--color-2);
		border-top-right-radius: var(--border-radius);
		border-bottom-right-radius: var(--border-radius);
		border-left-color: transparent;
	}
}
.swiper-button-disabled {
	opacity: 0;
}
