:root {
	--animate-delay: 1.2s;
	--bs-body-font-size: #{$em-base};

	@include media-breakpoint-up(md) {
		--sPT: #{rem(80)};
		--sPB: #{rem(90)};
		--sTPB: #{rem(40)};
	}
	// @include media-breakpoint-up(xl) {
	// 	--bs-body-font-size: #{$em-base};
	// }

	--sPT: #{rem(80 * 0.5)};
	--sPB: #{rem(90 * 0.5)};
	--sTPB: #{rem(60 * 0.5)};

	--swiperArrowSize: #{rem(32)};
	--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 4);
	--swiperBorderColorDef: var(--bs-primary);
	--swiperColorDef: var(--bs-primary);
	--swiperBgDef: var(--bs-white);

	--swiperBorderColorDefHover: var(--bs-primary);
	--swiperColorDefHover: var(--bs-white);
	--swiperBgDefHover: var(--bs-primary);
	@media (min-width: 440px) {
		--swiperArrowSize: #{rem(48)};
	}

	--fancybox-bg: rgba(0, 0, 0, 0.5);

	--plyr-color-main: #D9BC8D;
	// --plyr-color-main: var(--bs-primary);
	--plyr-control-icon-size: #{rem(15)};
	--plyr-audio-controls-background: var(--bs-secondary);
	--plyr-audio-control-color: #D9BC8D;
	--plyr-audio-control-color-hover: var(--bs-secondary);
	--plyr-control-spacing: 8px;
	--plyr-audio-progress-buffered-background: rgba(251, 248, 244, 0.7);
	// --plyr-control-radius: 0;
	@include media-breakpoint-up(xl) {
		--plyr-control-spacing: 8.73px;
	}
	//  --carousel-button-width: 48px;
	//  --carousel-button-height: 48px;

	//  --carousel-button-svg-width: 24px;
	//  --carousel-button-svg-height: 24px;

	//  --carousel-button-svg-stroke-width: 2.5;
	//  --carousel-button-svg-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0/ 0.4));
}

@include media-breakpoint-up(xl) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(xs) {
}

//
@include media-breakpoint-between(md, xl) {
}

//
@include media-breakpoint-only(xs) {
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(xl) {
}

//
@include media-breakpoint-down(xl) {
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(xs) {
}
