// start .sCertificates
.sCertificates {
	--sPT: #{rem(16)};
	--sPB: #{rem(26)};
	--sTPB: #{rem(44)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(40)};
		--sPB: #{rem(52)};
		--sTPB: #{rem(53)};
	}
	h2 {
		@extend .h3;
		max-width: 20em;
		margin-left: auto;
		margin-right: auto;
	}
	&__slider-wrapper {
		position: relative;
		max-width: rem(385);
		margin-left: auto;
		margin-right: auto;
		@include media-breakpoint-up(md) {
			max-width: 100%;
		}
	}
	&__slider {
		padding: rem(16);
		margin: rem(-16);
	}

	.swiper-button-hand {
		&.swiper-button-disabled {
			opacity: 0;
		}
	}

	&__item {
		@include mt;
		padding: rem(24) rem(24) rem(28);
		background-color: $white;
		max-width: rem(365);
		margin-left: auto;
		margin-right: auto;
		box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.09);
		// border-radius: $border-radius-lg;
		cursor: pointer;
		&:hover {
			box-shadow: 0px 10px 13px rgba(0, 0, 0, 0);
		}
		picture {
			@include block(230, 328);
			img {
				position: absolute;
				left: 0;
				top: 0;
			}
		}
		p {
			font-size: rem(12);
			line-height: 115%;
			text-align: center;
			color: rgba($color: #000000, $alpha: 0.7);
			margin-bottom: 0;
			margin-top: rem(24);
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sCertificates

.fancybox__caption {
	text-align: center;
}
