mixin sPortfolio(data)
	// start sPortfolio
	+b.SECTION.sPortfolio.section#sPortfolio&attributes(attributes)
		.container
			+b.section-title.text-center
				h4 Портфолио
				h2 Мы&nbsp;изготовили и&nbsp;установили 1333 навеса с&nbsp;2019 года
			.row
				.col-12
					+sSpecifications('', 'Навес из поликарбоната', 'Гарабиты: 6х6 м • Высота по столбам: 2,4 м', 'Заказать расчет похожего навеса')
				.col-12
					+sSpecifications('', 'Навес из поликарбоната', 'Гарабиты: 6х6 м • Высота по столбам: 2,4 м', 'Заказать расчет похожего навеса')
				.col-12
					+sSpecifications('', 'Навес из поликарбоната', 'Гарабиты: 6х6 м • Высота по столбам: 2,4 м', 'Заказать расчет похожего навеса')
				.col
					+e.btn-wrap
						button.btn.btn-primary.btn-gradient Показать еще
						a.btn.btn-lg.btn-primary.gradient-border(href="#") Смотреть всё портфолио
	// end sPortfolio

mixin sPortfolio2(data)
	// start sPortfolio
	+b.SECTION.sPortfolio.section#sPortfolio&attributes(attributes)
		.container
			+b.section-title.text-center
				h4 Портфолио
				h2 Примеры навесов отремонтированных нами
			.row
				.col-12
					+sSpecifications4('', 'Навес из поликарбоната', 'Сотовый поликарбонат применим при температуре от &minus;40 до&nbsp;+120&nbsp;С. Материал огнестойкий, способный не&nbsp;поддерживать горение. Обладает теплоизоляционными свойствами за&nbsp;счет ячеек, наполненных воздухом-худшим проводником тепла. Бюджетный и&nbsp;долговечный вариант.')
				.col-12
					+sSpecifications4('', 'Навес из поликарбоната', 'Сотовый поликарбонат применим при температуре от &minus;40 до&nbsp;+120&nbsp;С. Материал огнестойкий, способный не&nbsp;поддерживать горение. Обладает теплоизоляционными свойствами за&nbsp;счет ячеек, наполненных воздухом-худшим проводником тепла. Бюджетный и&nbsp;долговечный вариант.')
				.col-12
					+sSpecifications4('', 'Навес из поликарбоната', 'Сотовый поликарбонат применим при температуре от &minus;40 до&nbsp;+120&nbsp;С. Материал огнестойкий, способный не&nbsp;поддерживать горение. Обладает теплоизоляционными свойствами за&nbsp;счет ячеек, наполненных воздухом-худшим проводником тепла. Бюджетный и&nbsp;долговечный вариант.')
				.col
					+e.btn-wrap
						button.btn.btn-primary Показать еще
						a.btn.btn-outline-secondary(href="#") Смотреть всё портфолио
	// end sPortfolio