// start .sPortfolio
.sPortfolio {
	--sPT: #{rem(36)};
	--sPB: #{rem(50)};
	// --sTPB: ;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(72)};
		--sPB: #{rem(100)};
	}
	h2 {
		max-width: 18em;
		margin-left: auto;
		margin-right: auto;
	}
	.row {
		--bs-gutter-y: #{rem(16)};
		@include media-breakpoint-up(lg) {
			--bs-gutter-y: #{rem(32)};
		}
	}
	.sSpecifications {
		@include mt;
		--sPT: #{rem(24)};
		--sPB: #{rem(24)};
		// border-radius: rem(20);
		// filter: drop-shadow(0px 0px 37px rgba(0, 0, 0, 0.15));
		box-shadow: 0px 0px 37px rgba(0, 0, 0, 0.15);
		&__container {
			--bs-gutter-x: #{rem(24)};
			@include media-breakpoint-up(md) {
				--bs-gutter-x: #{rem(48)};
			}
		}
		&:hover {
			// filter: none;
			box-shadow: none;
		}
		h4 {
			color: $black;
			margin-bottom: rem(10);
			& + p {
				font-size: rem(12);
				color: rgba(44, 52, 64, 0.7);
				margin-bottom: rem(16);
			}
		}
		table {
			&:not(:last-of-type) {
				margin-bottom: rem(16);
			}
			&:last-of-type {
				margin-bottom: rem(16);
			}
		}
	}
	&__btn-wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		// a,
		// button {
			 
		// 	width: 100%;
		// 	max-width: rem(213);
		// 	font-size: rem(12);
		// 	padding: rem(12);
		// }
		button {
			width: rem(213);
			max-width: 100%;
			font-size: rem(12);
			padding: rem(12);
			margin-bottom: rem(20);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(48);
			} 
		}
		a {
			width: rem(290);
			max-width: 100%;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sPortfolio