mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section.bg-wrap#headerBlock&attributes(attributes)
		video(preload='auto' autoplay  loop  playsinline  muted  poster='img/@2x/webp/video.webp')
			source(src='video/video-1.mp4' type='video/mp4')
			//- source(src='video/video.ogv' type='video/ogv')
			//- source(src='video/video.webm' type='video/webm')
		//- +pic(`headerBlock-bg.png`, `bg`, 0).picture-bg
		.container
			.row
				+e.col.col
					+b.section-title
						h1 Изготовление и&nbsp;установка навесов под ключ в&nbsp;Москве и&nbsp;МО
					+e.time.d-none.d-lg-flex
						span Изготовление 14&ndash;30 дней
						span &bull;
						span Установка 1&ndash;2 дня
					+e.btn.link-modal-js(href="#modal-call" data-title= "Вызвать замерщика" data-text= "Оставьте свой номер телефона, мы&nbsp;вам перезвоним и&nbsp;договоримся о&nbsp;замере" data-btn= "Отправить" data-pic= "1") Вызвать замерщика
					p Выезжаем в&nbsp;удобный для вас день и&nbsp;время
				.col-lg-auto
					+form-wrap.blurred-block
						h4 Расчет цены за&nbsp;5&nbsp;минут
						+e.subtitle Заполните форму&nbsp;&mdash; мы&nbsp;сразу перезвоним
						p.d-none.d-lg-block Укажите габариты навеса 
						.row
							.col-6
								+input(`Ширина`, `text`)
							.col-6
								+input(`Длина`, `text`)
							.col-12
								+input(`+7 ___ ___ - __ - __`, `tel`)
							.col-12
								+e.btn.link-modal-js(href="#modal-call" data-title= "Получить расчет" data-text= "Оставьте свой номер телефона, мы&nbsp;вам перезвоним и&nbsp;выполним расчет." data-btn= "Получить расчет" data-pic= "2") Получить расчет
						ul
							li
								+icon('positive')
								span Коммерческое предложение <br> с&nbsp;перечнем работ и&nbsp;материалов
							li
								+icon('positive')
								span Бесплатный выезд инженера на&nbsp;ваш участок
						//- +e.agreement Отправляя заявку, вы&nbsp;даете свое согласие на&nbsp;обработку #[a(href="#modal-policy").link-modal-js персональных данных]
						+agreement()(checked required)
			+e.cards
				.row
					.col-lg-4
						+e.item.blurred-block
							+e.icon-wrap
								+icon('headerBlock-1')
							p Выдерживают нагрузку в&nbsp;соответствии с&nbsp;&laquo;СП&nbsp;20.13330.2016. Свод правил. Нагрузки и&nbsp;воздействия&raquo; и&nbsp;&laquo;СП&nbsp;131.13330.2020. Свод правил. Строительная климатология&raquo;
					.col-lg-4
						+e.item.white-bg
							+e.icon-wrap
								+icon('headerBlock-2')
							p Официальный договор<br>Гарантия 12&nbsp;месяцев<br>Оплата наличными&nbsp;/ картой&nbsp;/ на&nbsp;расчетный счет
					.col-lg-4
						+e.item.blurred-block
							+e.icon-wrap
								+icon('headerBlock-3')
							p Финальная уборка после работы&nbsp;&mdash; оставим после себя чистоту
				
	// end headerBlock