// start .headerBlock
.headerBlock {
	margin-bottom: 1px;
	// min-height: 100vh;
	// min-height: calc(var(--vh, 1vh) * 100);
	// background-image: url(../img);
	// background-color: #000000;
	color: $white;
	--sPT: #{rem(90)};
	--sPB: #{rem(27)};
	--sTPB: #{rem(30)};
	@include media-breakpoint-up(sm) {
		// --sPT: #{rem(30)};
		--sPB: #{rem(35)};
		--sTPB: #{rem(30)};
	}
	@include media-breakpoint-up(md) {
		// --sPT: #{rem(56)};
		--sPB: #{rem(72)};
		--sTPB: #{rem(47)};
	}
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(56)};
		--sPB: #{rem(20)};
	}
	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 77.62%);
		z-index: -3;
		@include media-breakpoint-up(lg) {
			max-height: 84%;
		}
	}
	& > picture,
	& > video {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		object-fit: cover;
		height: 100%;
		z-index: -3;
		@include media-breakpoint-up(lg) {
			max-height: 84%;
		}
	}
	&__col {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		@include media-breakpoint-up(lg) {
			align-items: flex-start;
		}
		p {
			font-weight: 600;
			font-size: rem(12);
			line-height: 100%;
			margin-bottom: 0;
			display: none;
			@include media-breakpoint-up(lg) {
				display: block;
			}
		}
	}
	h1 {
		color: $white;
		text-align: center;
		max-width: 13.5em;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		line-height: 100%;
		@include media-breakpoint-up(md) {
			max-width: 14em;
		}
		@include media-breakpoint-up(lg) {
			text-align: left;
			max-width: 10.7em;
			margin-left: 0;
			margin-right: 0;
		}
	}

	h4 {
		color: $white;
		text-align: center;
		margin-bottom: 1px;
	}
	&__time {
		@include roww(15px);
		display: flex;
		flex-wrap: wrap;
		font-weight: 500;
		font-size: rem(18);
		line-height: 150%;
		color: $white;
		margin-bottom: rem(35);
		span {
			white-space: nowrap;
		}
	}
	&__btn {
		@extend .btn, .btn-lg, .btn-primary;
		display: none;
		margin-bottom: rem(30);
		width: rem(241);
		max-width: 100%;
		color: $white;
		@include media-breakpoint-up(lg) {
			display: inline-block;
		}
	}
	&__cards {
		margin-top: rem(32);
		@include media-breakpoint-up(lg) {
			margin-top: rem(60);
		}
		@include media-breakpoint-up(xxl) {
			margin-top: rem(80);
		}
		.row {
			--bs-gutter-x: #{rem(24)};
			--bs-gutter-y: #{rem(20)};
			@include media-breakpoint-up(xxl) {
				--bs-gutter-x: #{rem(32)};
			}
		}
	}
	&__item {
		display: flex;
		position: relative;
		align-items: flex-start;
		height: 100%;
		// border-radius: 16px;
		max-width: rem(400);
		margin-left: auto;
		margin-right: auto;
		@include media-breakpoint-up(lg) {
			background-image: linear-gradient(101.86deg, #fbf8f4 0%, #ffffff 100%);
			box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.15);
			max-width: 100%;
		}
		// &::after {
		// 	content: "";
		// 	position: absolute;
		// 	width: 100%;
		// 	height: 100%;
		// 	top: 0;
		// 	left: 0;
		// 	z-index: -2;
		// 	border-radius: 16px;
		// 	box-shadow: 10px 18px 19px 0px #00000052;
		// }
		@include media-breakpoint-up(lg) {
			flex-direction: column;
			padding: 0 rem(25) rem(25) rem(25);
		}
		// &::after {
		// 	@include media-breakpoint-down(lg) {
		// 		content: none;
		// 	}
		// }
		// &.white-bg {
		// 	@include media-breakpoint-up(lg) {
		// 		background-color: $white;
		// 	}
		// 	p {
		// 		@include media-breakpoint-up(lg) {
		// 			color: $body-color;
		// 		}
		// 	}
		// }
		p {
			font-weight: 500;
			line-height: 150%;
			color: $white;
			font-size: rem(10);
			flex-grow: 1;
			margin-bottom: 0;
			@include media-breakpoint-up(lg) {
				color: $dark;
				font-size: rem(14);
				max-width: 24em;
			}
		}
	}
	&__icon-wrap {
		position: relative;
		display: inline-block;
		margin-right: rem(10);
		@include media-breakpoint-up(lg) {
			margin-right: 0;
			padding: rem(20) rem(16) rem(37);
			background-color: transparent;
			margin-top: rem(-8);
			margin-bottom: rem(8);
			// border-radius: 0 0 14px 14px;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='64' height='89' viewBox='0 0 64 89' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 0H64V57.4792L0 89V0Z' fill='url(%23paint0_linear_2471_3260)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_2471_3260' x1='0' y1='0' x2='73.7271' y2='45.8634' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23A48B63'/%3e%3cstop offset='1' stop-color='%23D9BC8D'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: bottom;
		}
		&::after {
			@include media-breakpoint-up(lg) {
				content: "";
				position: absolute;
				left: calc(100% - 5px);
				top: 0;
				width: rem(8);
				height: rem(8);
				transform: skewX(35deg);
				background-color: #6f624e;
				z-index: -1;
			}
		}
		.icon {
			font-size: rem(32);
			color: $white;
			// @include media-breakpoint-up(lg) {
			// 	color: $secondary;
			// }
		}
	}
	.form-wrap {
		position: relative;
		overflow: hidden;
		padding: rem(20) rem(18) rem(20);
		border-radius: 18px;
		max-width: rem(565);
		margin-left: auto;
		margin-right: auto;
		background-color: #d1c4ae;
		z-index: 2;
		@include media-breakpoint-down(sm) {
			width: calc(100% + 16px);
			margin-left: -8px;
		}
		// @include media-breakpoint-down(lg) {
		// 	background-color: #fff;
		// }
		@include media-breakpoint-up(sm) {
			padding: rem(45) rem(42);
		}
		@include media-breakpoint-up(lg) {
			max-width: 422px;
		}
		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 15%;
			width: 100%;
			height: 100%;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='422' height='435' viewBox='0 0 422 435' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M422 532H1.90735e-06V208.01L422 -1.04308e-05V532Z' fill='url(%23paint0_linear_2513_950)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_2513_950' x1='211' y1='109.546' x2='211' y2='532.11' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FBF8F4'/%3e%3cstop offset='1' stop-color='%23FBF8F4' stop-opacity='0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: top;
			z-index: -1;
			@include media-breakpoint-up(lg) {
				top: 13%;
			}
		}

		p {
			font-weight: 600;
			font-size: rem(12);
			line-height: 2;
			color: $white;
			margin-bottom: rem(7);
		}
		h4 {
			line-height: 130%;
			margin-bottom: rem(8);
			@include media-breakpoint-up(sm) {
				font-size: rem(24);
			}
			// @include media-breakpoint-down(lg) {
			// 	color: $secondary;
			// }
		}
		.form-control {
			@include media-breakpoint-up(lg) {
				border: none;
			}
		}
		&__subtitle {
			text-align: center;
			font-weight: 600;
			font-size: rem(12);
			line-height: 100%;
			color: $white;
			// color: rgba($color: $white, $alpha: 0.5);
			margin-bottom: rem(15);
			
		}
		.row {
			--bs-gutter-x: #{rem(10)};
			--bs-gutter-y: var(--bs-gutter-x);
			@include media-breakpoint-up(lg) {
				--bs-gutter-x: #{rem(16)};
			}
		}
		&__input {
			@include media-breakpoint-down(lg) {
				border: 1px solid #d3d5d8;
				border-radius: 10px;
				padding-bottom: calc(rem(11) - 0.5em);
				padding-top: calc(rem(11) + 0.5em);
			}
		}
		&__input-title {
			@include media-breakpoint-down(lg) {
				color: rgba($color: $dark, $alpha: 0.75);
				top: rem(11);
			}
		}
		&__btn {
			@extend .btn, .btn-lg, .btn-primary;
			width: 100%;

			@include media-breakpoint-down(lg) {
				// --bs-btn-padding-y: #{rem(15)};
				// --bs-btn-padding-x: #{rem()};
				// --bs-btn-font-size: #{rem()};
				--bs-btn-border-radius: 10px;
				padding-bottom: rem(12.5) !important;
				padding-top: rem(12.5) !important;
				box-shadow: none !important;
			}
		}
		ul {
			display: none;
			list-style: none;
			margin-top: rem(24);
			margin-bottom: 0;
			@include media-breakpoint-up(sm) {
				display: block;
				margin-top: rem(30);
			}

			li {
				display: flex;
				@include roww(#{rem(12)}, m);
				margin-bottom: rem(12);
				&:last-child {
					margin-bottom: 0;
				}
				.icon-wrap {
					width: 17px;
					height: 17px;
					background-color: $primary;
					background-image: linear-gradient(141.69deg, #a48b63 0%, #d9bc8d 100%);
					mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_2471_2087)'%3e%3cpath d='M9.23511 0.143555C4.54815 0.143555 0.735107 3.95667 0.735107 8.64355C0.735107 13.3304 4.54815 17.1436 9.23511 17.1436C13.9221 17.1436 17.7351 13.3304 17.7351 8.64355C17.7351 3.95667 13.9221 0.143555 9.23511 0.143555ZM9.23511 15.4984C5.45536 15.4984 2.38026 12.4233 2.38026 8.64355C2.38026 4.86378 5.45536 1.7887 9.23511 1.7887C13.0149 1.7887 16.09 4.86381 16.09 8.64355C16.09 12.4233 13.0149 15.4984 9.23511 15.4984Z' fill='url(%23paint0_linear_2471_2087)'/%3e%3cpath d='M12.2179 5.59375L8.13826 9.67338L5.97794 7.51312L4.8147 8.67636L8.13826 12L13.3812 6.75699L12.2179 5.59375Z' fill='url(%23paint1_linear_2471_2087)'/%3e%3c/g%3e%3cdefs%3e%3clinearGradient id='paint0_linear_2471_2087' x1='0.735107' y1='0.143555' x2='15.5385' y2='18.8791' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23A48B63'/%3e%3cstop offset='1' stop-color='%23D9BC8D'/%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_2471_2087' x1='4.8147' y1='5.59375' x2='9.83724' y2='14.094' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23A48B63'/%3e%3cstop offset='1' stop-color='%23D9BC8D'/%3e%3c/linearGradient%3e%3cclipPath id='clip0_2471_2087'%3e%3crect width='17' height='17' fill='white' transform='translate(0.735107 0.143555)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
					mask-size: cover;
					flex-shrink: 0;
				}
				// .icon {
				// 	color: $success;
				// 	font-size: rem(17);
				// 	min-width: rem(17);
				// }
				span {
					font-size: rem(12);
					line-height: 135%;
					color: $secondary;

					br {
						@include media-breakpoint-down(lg) {
							display: none;
						}
					}
				}
			}
		}
		&__agreement {
			font-size: rem(12);
			line-height: 140%;
			color: $secondary;
			margin-top: rem(14);
			@include media-breakpoint-up(sm) {
				margin-top: rem(20);
			}
			// @include media-breakpoint-down(lg) {
			// 	color: rgba($color: $secondary, $alpha: 0.6);
			// 	// text-align: center;
			// }
			a {
				&:not(:hover) {
					color: $secondary;
					text-decoration: underline;
					// @include media-breakpoint-down(lg) {
					// 	color: rgba($color: $secondary, $alpha: 0.6);
					// }
				}
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}

	@include media-breakpoint-up(lg) {
	}

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
}

// end.headerBlock

.blurred-block {
	position: relative;
	border-radius: 16px;
	&::after {
		content: "";
		border: 1px solid rgba($color: $white, $alpha: 0.15);
		background-color: rgba($color: $white, $alpha: 0.2);
		backdrop-filter: blur(18px);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -2;
		border-radius: 16px;
		box-shadow: 10px 18px 19px 0px #00000052;
	}
}
