extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
//- include ../blocks/sCatalog/_sCatalog.pug
//- include ../blocks/sPortfolio/_sPortfolio.pug
//- include ../blocks/sDesign/_sDesign.pug
//- include ../blocks/sCalculator/_sCalculator.pug
//- include ../blocks/sTypical/_sTypical.pug
//- include ../blocks/sPriceList/_sPriceList.pug
//- include ../blocks/sReviews/_sReviews.pug
//- include ../blocks/sStages/_sStages.pug
//- include ../blocks/sAbout/_sAbout.pug
//- include ../blocks/sAdvantages/_sAdvantages.pug
//- include ../blocks/sAccordion/_sAccordion.pug
//- include ../blocks/sCertificates/_sCertificates.pug
//- include ../blocks/sFilter/_sFilter.pug
//- include ../blocks/sProducts/_sProducts.pug
//- include ../blocks/sSpecifications/_sSpecifications.pug
include ../blocks/sBlog/_sBlog.pug


block variables
	- let  mainPage= 'blog'
	- let  bg= null

block title
	- let  title= 'Блог компании «Навес на заказ»'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+top-nav()
		+topLine()
	.sticky-wrapper
		+page-head-fixed({
			title,
			menu: 'menu',
			search:'search'
		})
		+sBlog(`head`, ``)
		+sContact()
		.section-wrapper.section-wrapper--footer
			+footer()
		//- +sForm()
		+scrollToTop()



