extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sCatalog/_sCatalog.pug
//- include ../blocks/sPortfolio/_sPortfolio.pug
//- include ../blocks/sCategories/_sCategories.pug
include ../blocks/sFabrics/_sFabrics.pug
include ../blocks/sCollection/_sCollection.pug
//- include ../blocks/sTypical/_sTypical.pug
//- include ../blocks/sPriceList/_sPriceList.pug
//- include ../blocks/sReviews/_sReviews.pug
//- include ../blocks/sStages/_sStages.pug
//- include ../blocks/sAbout/_sAbout.pug
//- include ../blocks/sAdvantages/_sAdvantages.pug
//- include ../blocks/sAccordion/_sAccordion.pug
//- include ../blocks/sCertificates/_sCertificates.pug
//- include ../blocks/sSpecifications/_sSpecifications.pug 

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= 'Ткани'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+top-nav()
		+topLine()
	+page-head-breadcrumbs(title, title)
	+sFabrics('', 'note')
	+sFabrics('Тесьма', '')
		+e.slider--js.swiper
			.swiper-wrapper
				- for (var x = 0; x < 30; x++)
					+e.slide.swiper-slide
						+sFabricsItem(`1`, `5033`)
		+e.description
			.row
				+e.col.col-lg-4.order-lg-last
					+e.features
						+b.featuresTable
							table
								+tr(`Материал`, `100% акрил`)
								+tr(`Плотность`, `360&nbsp;г/м2`)
								+tr(`Ширина рулона`, `2,2&nbsp;см.`)
								+tr(`Длина рулона`, `125&nbsp;м.`)
								+tr(`Ширина окантовки <br> готового изделия`, `1&nbsp;см.`)
						+b.priceTable
							table
								tr
									td 1&nbsp;п.м
									td 1,3&nbsp;&euro;
					+e.img-wrap
						+img('img/brands.jpg').res-i
				.col-lg-8
					p Наш каталог тканей выгодно отличается от&nbsp;любых других предложений на&nbsp;рынке своими исключительными характеристиками и&nbsp;широтой выбора цветов и&nbsp;оттенков.
					p Вам не&nbsp;придется идти на&nbsp;компромиссы&nbsp;&mdash; у&nbsp;нас&nbsp;Вы всегда можете выбрать ткань, которая будет идеально подходить Вашим пожеланиям и&nbsp;Вашему фирмен-ному стилю! Наш принцип работы&nbsp;&mdash; высочайшее качество при максимально сжатых сроках, именно поэтому расцветки, представленные в&nbsp;нашем каталоге, всегда поддерживаются в&nbsp;наличии на&nbsp;наших складах в&nbsp;Москве и&nbsp;Санкт-Петербурге.
					p Мы&nbsp;используем ткани, которые выпускаются одним из&nbsp;старейших и&nbsp;наиболее уважаемых европейских производителей текстиля&nbsp;&mdash; испанским заводом Sauleda. Они выпускаются специально для производства маркиз- это 100% акрил со специальным тефлоновым покрытием и&nbsp;антигрибковой пропиткой. Эти ткани рассчитаны на&nbsp;использование в неблагоприятных условиях уличной среды, благодаря чему они выдерживают самые экстремальные нагрузки&nbsp;&mdash; не&nbsp;выгорают на солнце, не&nbsp;промокают, выдерживают широкий диапазон температур и&nbsp;не&nbsp;боятся ни&nbsp;палящего солнца, ни&nbsp;морозов. Они будут долгое время защищать Вас от&nbsp;любых капризов погоды и&nbsp;радовать Вас своим респекта-бельным внешним видом.
					

	+sFabrics('Коллекция Masacril').pb-0
		+e.slider--js.swiper
			.swiper-wrapper
				- for (var x = 0; x < 30; x++)
					+e.slide.swiper-slide
						+sFabricsItem(`2`, `2042 Blanco`)

	+sCollection()

	+sFabrics('Соответсвие ткани Sauleda Системе Ral и&nbsp;Pantone*', 'note')
		+e.slider--js.swiper
			.swiper-wrapper
				- for (var x = 0; x < 30; x++)
					+e.slide.swiper-slide
						+sFabricsItem(``, `2065 Teja 3013 1805 C`)(style="--bgColor: #AF2F32")

	+sFabrics('Eco Dacron', 'note')
		+featuresTable
		+e.slider--js.swiper
			.swiper-wrapper
				- for (var x = 0; x < 30; x++)
					+e.slide.swiper-slide
						+sFabricsItem(`3`, `D1351 Capitoline`)

	+footer()
	+scrollToTop()






