extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sCatalog/_sCatalog.pug
//- include ../blocks/sPortfolio/_sPortfolio.pug
//- include ../blocks/sCategories/_sCategories.pug
include ../blocks/sFabrics/_sFabrics.pug
//- include ../blocks/sTypical/_sTypical.pug
//- include ../blocks/sPriceList/_sPriceList.pug
//- include ../blocks/sReviews/_sReviews.pug
//- include ../blocks/sStages/_sStages.pug
//- include ../blocks/sAbout/_sAbout.pug
//- include ../blocks/sAdvantages/_sAdvantages.pug
//- include ../blocks/sAccordion/_sAccordion.pug
//- include ../blocks/sCertificates/_sCertificates.pug
//- include ../blocks/sSpecifications/_sSpecifications.pug 

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= 'Ткани'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+top-nav()
		+topLine()
	+page-head-breadcrumbs(title, title)
	+sFabrics('', 'note')
	+sFabrics('Тесьма', '')
		+e.slider--js.swiper
			.swiper-wrapper
				- for (var x = 0; x < 30; x++)
					+e.slide.swiper-slide
						+sFabricsItem(`1`, `5033`)

	+sFabrics('Коллекция Masacril', 'note')
		+e.slider--js.swiper
			.swiper-wrapper
				- for (var x = 0; x < 30; x++)
					+e.slide.swiper-slide
						+sFabricsItem(`2`, `2042 Blanco`)

	+sFabrics('Соответсвие ткани Sauleda Системе Ral и&nbsp;Pantone*', 'note')
		+e.slider--js.swiper
			.swiper-wrapper
				- for (var x = 0; x < 30; x++)
					+e.slide.swiper-slide
						+sFabricsItem(``, `2042 Blanco`)(style="--bgColor: #AF2F32")

	+sFabrics('Eco Dacron', 'note')
		+b.featuresTable
			table
				+tr(`Материал`, `терилен`)
				+tr(`Плотность`, `280&nbsp;г/м2`)
				+tr(`Водостойкость`, `400&nbsp;мм вод.ст.`)
				+tr(`Ширина рулона`, `1,5&nbsp;м`)
				+tr(`Длина рулона`, `60&nbsp;м`)
		+e.slider--js.swiper
			.swiper-wrapper
				- for (var x = 0; x < 30; x++)
					+e.slide.swiper-slide
						+sFabricsItem(`3`, `D1351 Capitoline`)

	+footer()
	+scrollToTop()






