extends layout/main.pug


include ../blocks/sColors/_sColors.pug
include ../blocks/sMotors/_sMotors.pug
include ../blocks/sAutomation/_sAutomation.pug
include ../blocks/sScheme/_sScheme.pug

block variables
	- let  mainPage= null
	- let  bg= '09-motors.jpg'

block title
	- let  title= 'Двигатели, пульты и кнопки'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+top-nav()
		+topLine()
	+page-head-breadcrumbs(title, title)
	+sMotors
	+sAutomation
	+sScheme
	+footer()
	+scrollToTop()




