extends layout/main.pug


include ../blocks/sMotors/_sMotors.pug
include ../blocks/sAutomation/_sAutomation.pug
include ../blocks/sScheme/_sScheme.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= 'Дополнительные опции'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+top-nav()
		+topLine()
	+page-head-breadcrumbs(title, title)
	+sMotors2
	+sAutomation(true)
	+sScheme
	+footer()
	+scrollToTop()




