extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sPortfolio/_sPortfolio.pug
include ../blocks/sCategories/_sCategories.pug
include ../blocks/sCalculator/_sCalculator.pug
include ../blocks/sTypical/_sTypical.pug
include ../blocks/sPriceList/_sPriceList.pug
include ../blocks/sReviews/_sReviews.pug
include ../blocks/sStages/_sStages.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sAccordion/_sAccordion.pug
include ../blocks/sCertificates/_sCertificates.pug
include ../blocks/sSpecifications/_sSpecifications.pug 

block variables
	- let  mainPage= 'main-page'
	- let  bg= 'index.jpg'

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+top-nav()
		+topLine()
	+headerBlock()
	+sCatalog()
	//- .section-wrapper
	+sPortfolio()
	//- +sDesign()
	+sCategories(1, `Ткани`, `Используем испанские ткани старейшего производителя текстиля&nbsp;&mdash; Sauleda`)
	+sCategories(2, `Цвета конструкций`, `Мы&nbsp;используем технологию порошковой покраски конструкций, чтобы добиться равномерного распределения цвета и&nbsp;долговечной службы покрытия`)
	+sCategories(3, `Двигатели, пульты и&nbsp;кнопки`, `Используем новейшие технологии автоматизации`)
	+sCategories(4, `Дополнительные опции`, `Нестандартные решения для самых требовательных клиентов`)
	.section-wrapper.section-wrapper--before
		+sTypical()
		+sPriceList()
	+sReviews()
	+sStages()
	.section-wrapper.section-wrapper--before.section-wrapper--after.bg-white
		+sAbout()
		+sAdvantages()
		+sAccordion()
		+sCertificates()
		+sCatalogProd()
	+sContact()
	//- +sContact3()
	//- .section-wrapper.section-wrapper--footer
	//- 	+footer2()
	//- 		+sContact2()
	//- br
	//- br
	+footer()
	//- .section-wrapper.section-wrapper--footer
		//- +footer3()
	//- +sForm()
	+scrollToTop()




