extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sPortfolio/_sPortfolio.pug
include ../blocks/sDesign/_sDesign.pug
include ../blocks/sCalculator/_sCalculator.pug
include ../blocks/sTypical/_sTypical.pug
include ../blocks/sPriceList/_sPriceList.pug
include ../blocks/sReviews/_sReviews.pug
include ../blocks/sStages/_sStages.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sAccordion/_sAccordion.pug
include ../blocks/sCertificates/_sCertificates.pug
include ../blocks/sSpecifications/_sSpecifications.pug 

block variables
	- let  mainPage= 'main-page'
	- let  bg= null

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+top-nav()
		+topLine()
	+headerBlock()
	.container
		.row
			.col-auto
				.btn.btn-primary.link-modal-js(href='#modal-callback' data-desktop-pic= "img/@2x/modal-3.png" data-mobile-pic='img/avatar-1.png') Обратный звонок
			.col-auto
				.btn.btn-primary.link-modal-js(href='#modal-callback' data-desktop-pic= "img/@2x/modal-4.png" data-mobile-pic='img/avatar-2.png') Обратный звонок 2
	.section-wrapper
		+sPortfolio2()
	//- .section-wrapper.section-wrapper--footer
	//- 	+footer2()
	//- 		+sContact2()
	br
	br
	.section-wrapper.section-wrapper--footer
		+footer()
	//- +sForm()
	+scrollToTop()




