// start .sTypical
.sTypical {
	--sPT: #{rem(30)};
	--sPB: #{rem(20)};
	--sTPB: #{rem(24)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(72)};
		--sPB: #{rem(30)};
		--sTPB: #{rem(45)};
	}
	h2 {
		max-width: 18em;
		margin-left: auto;
		margin-right: auto;
	}
	&__filter {
		margin-bottom: rem(32);
		@include media-breakpoint-up(xl) {
			margin-bottom: rem(48);
		}
		.row {
			--bs-gutter-x: #{rem(8)};
			--bs-gutter-y: var(--bs-gutter-x);
			justify-content: center;
			@include media-breakpoint-up(lg) {
				justify-content: flex-start;
			}
		}
		p {
			font-weight: bold;
			font-size: rem(14);
			line-height: 145%;
			text-align: center;
			color: $secondary;
			margin-bottom: 0;
			margin-bottom: rem(12);
			@include media-breakpoint-up(md) {
				font-size: 16px;
			}
			@include media-breakpoint-up(lg) {
				margin-bottom: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				height: rem(36);
			}
			@include media-breakpoint-up(xl) {
				height: rem(40);
			}
		}
		label.btn {
			display: flex;
			align-items: center;
			justify-content: center;
			height: rem(32);
			width: 100%;
			box-shadow: none !important;
			border-radius: 10px;
			padding: 6.5px;
			font-weight: 400;
			font-size: rem(12);
			line-height: 115%;
			@include media-breakpoint-up(md) {
				height: rem(36);
			}
			@include media-breakpoint-up(xl) {
				height: rem(40);
			}
			span {
				white-space: nowrap;
				@include media-breakpoint-up(sm) {
					font-weight: 500;
				}
				&:first-child {
					@include media-breakpoint-up(md) {
						display: none;
					}
				}
				&:last-child {
					display: none;
					@include media-breakpoint-up(md) {
						display: block;
					}
				}
			}
		}
		input.btn-check {
			&:not(:checked) + label.btn {
				@extend .btn-info;
			}
			&:checked {
				+ label.btn {
					@extend .btn-primary;
				}
			}
		}
	}
	&__btn-col {
		width: 100%;
		max-width: calc(100% / 7);
		flex: 1 0 calc(100% / 7);
	}
	&__slider-wrapper {
		position: relative;
		max-width: rem(385);
		margin-left: auto;
		margin-right: auto;
		@include media-breakpoint-up(md) {
			max-width: 100%;
		}
		.swiper-button-hand {
			margin: 0;
			top: calc(25% - var(--swiperArrowSize) / 2);
			@include media-breakpoint-up(sm) {
				--swiperArrowPosition: calc(var(--swiperArrowSize) * -1 / 2);
			}
			// @include media-breakpoint-down(sm) {
			// 	--swiperArrowSize: #{rem(32)};
			// }
		}
		.swiper-pagination {
			padding-top: rem(35);
			@include media-breakpoint-up(xl) {
				padding-top: rem(55);
			}
		}
	}
	&__slider {
		// max-width: rem(385);
		// margin-left: auto;
		// margin-right: auto;
		// @include media-breakpoint-up(md) {
		// 	max-width: 100%;
		// }
		padding: rem(16);
		margin: rem(-16);
	}
	&__img-wrap {
		cursor: pointer;
		&:hover {
			picture {
				@include mt;
				box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.09);
			}
		}
	}
	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
		// max-width: rem(336);
		// margin-left: auto;
		// margin-right: auto;
		picture {
			@include block(280, 220);
			width: 100%;
			border: 0.62963px solid #A58C64;
			// border-radius: 12.5926px;
			overflow: hidden;
			margin-bottom: rem(20);
			img {
				position: absolute;
				left: 0;
				top: 0;
			}
		}
		table {
			width: 100%;
			margin-bottom: rem(12);
			color: rgba(0, 0, 0, 0.7);
			tr {
				td,
				th {
					padding-bottom: rem(12);
					&:last-child {
						text-align: right;
					}
				}
				th {
					font-size: rem(16);
					line-height: 105%;
					@include media-breakpoint-up(sm) {
						font-size: rem(18);
					}
					&:first-child {
						color: $secondary;
					}
					&:last-child {
						font-weight: 400;
					}
				}
				td {
					border-bottom: 1px solid $info;
					font-size: rem(12);
					line-height: 115%;
					padding: rem(8) 0;
				}
				&:last-child {
					td {
						border: none;
					}
				}
			}
		}
	}
	&__btn {
		@extend .btn, .btn-primary, .btn-sm;
		// &:after {
		// 	content: "";
		// 	@include a-cent;
		// }
	}
	&__info-row {
		--bs-gutter-x: rem(14);
		margin-bottom: rem(18);
		flex-grow: 1;
	}
	&__title {
		font-weight: 700;
		line-height: 1.05em;
		font-size: rem(15);
		@include media-breakpoint-up(lg) {
			font-size: rem(16);
		}
		@include media-breakpoint-up(xl) {
			font-size: rem(18);
		}
	}
	&__desc {
		line-height: 1.05em;
		font-size: rem(15);
		@include media-breakpoint-up(lg) {
			font-size: rem(16);
		}
		@include media-breakpoint-up(xl) {
			font-size: rem(18);
		}
	}
	&__spec {
		font-size: rem(12);
		line-height: 1.15em;
		margin-bottom: rem(18);
	}
	&__item-row {
		--bs-gutter-x: #{rem(16)};
		--bs-gutter-y: #{rem(24)};
		@include media-breakpoint-up(lg) {
			--bs-gutter-x: #{rem(32)};
			--bs-gutter-y: #{rem(48)};
		}
	}
	&--price {
		--sPT: #{rem(30)};
		--sPB: #{rem(45)};
		@include media-breakpoint-up(md) {
			--sPT: #{rem(72)};
			--sPB: #{rem(141)};
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sTypical
