mixin sAccordion(data)
	// start sAccordion
	+b.SECTION.sAccordion.section#sAccordion&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Часто задаваемые вопросы
			+ddGroup()
			
	// end sAccordion