// start .sAccordion
.sAccordion {
	--sPT: #{rem(26)};
	--sPB: #{rem(32)};
	--sTPB: #{rem(24)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(57)};
		--sPB: #{rem(40)};
		--sTPB: #{rem(58)};
	}
	
	.section-title {
		h2 {
			@extend .h3;
		}
	}

	.accordion-item {
		
		&__head {
			display: inline-flex;
			&:hover, &.active {
				h4 {
					text-decoration: none;
				}
			}
			h4 {
				text-decoration: underline;
			}
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAccordion
