mixin sAccordion(data)
	// start sAccordion
	+b.SECTION.sAccordion.section#sAccordion&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Часто задаваемые вопросы
			+ddGroup()
			p Производим прочные навесы, выдерживающие нагрузку в&nbsp;суровом климате. Соблюдаем стандарты качества и&nbsp;предоставляем полный сервис под ключ для наших клиентов. С&nbsp;нами легко начать работать&nbsp;&mdash; замер, расчет сметы и&nbsp;3D-макет навеса мы&nbsp;делаем бесплатно.
	// end sAccordion