// start .sSimilarAwnings
.sSimilarAwnings {
	--sPT: #{rem(32)};
	--sPB: #{rem(32)};
	--sTPB: ;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(52)};
		--sPB: #{rem(64)};
	}
	.row {
		--bs-gutter-y: var(--bs-gutter-x);
	}
	.card {
		@include media-breakpoint-down(sm) {
			padding-left: rem(15);
			padding-right: rem(15);
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sSimilarAwnings