mixin sSimilarAwnings(data)
	// start sSimilarAwnings
	+b.SECTION.sSimilarAwnings.section#sSimilarAwnings&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Похожие навесы
			.row
				.col-lg-4
					+b.card
						a(href="#") 
							+pic('sProducts-1.jpg', 'bg', 0)
							h4 Навес 4&times;8&nbsp;м из&nbsp;сотового поликарбоната
						p Гарабиты: 6&times;6&nbsp;м &bull; Высота по&nbsp;столбам: 2,4&nbsp;м
						h5 Характеристики
						table
							tbody
								tr
									td Тип
									td навесы для дачи
								tr
									td Тип навеса
									td полуарочный
								tr
									td Кровля
									td сотовый поликарбонат
								tr
									td Каркас
									td еталический
						+e.more
							p 150 400 ₽
							a.btn.btn-primary.btn-sm(href="#") Подробнее 
				.col-lg-4
					+b.card
						a(href="#") 
							+pic('sProducts-1.jpg', 'bg', 0)
							h4 Навес 4&times;8&nbsp;м из&nbsp;сотового поликарбоната
						p Гарабиты: 6&times;6&nbsp;м &bull; Высота по&nbsp;столбам: 2,4&nbsp;м
						h5 Характеристики
						table
							tbody
								tr
									td Тип
									td навесы для дачи
								tr
									td Тип навеса
									td полуарочный
								tr
									td Кровля
									td сотовый поликарбонат
								tr
									td Каркас
									td еталический
						+e.more
							p 150 400 ₽
							a.btn.btn-primary.btn-sm(href="#") Подробнее 
				.col-lg-4
					+b.card
						a(href="#") 
							+pic('sProducts-1.jpg', 'bg', 0)
							h4 Навес 4&times;8&nbsp;м из&nbsp;сотового поликарбоната
						p Гарабиты: 6&times;6&nbsp;м &bull; Высота по&nbsp;столбам: 2,4&nbsp;м
						h5 Характеристики
						table
							tbody
								tr
									td Тип
									td навесы для дачи
								tr
									td Тип навеса
									td полуарочный
								tr
									td Кровля
									td сотовый поликарбонат
								tr
									td Каркас
									td еталический
						+e.more
							p 150 400 ₽
							a.btn.btn-primary.btn-sm(href="#") Подробнее 
	// end sSimilarAwnings