mixin sCatalog(data)
	// start sCatalog
	+b.SECTION.sCatalog.section&attributes(attributes)
		.container
			+b.section-title.text-center
				h4 Каталог
				h2 Производим навесы для частных лиц и&nbsp;компаний
			+e.slider-wrapper
				+arrow
				+e.slider--js.swiper
					.swiper-wrapper
						+e.slide.swiper-slide
							+catalogItem(1, `Для машин`, `от 106 596 ₽`)
						+e.slide.swiper-slide
							+catalogItem(2, `К&nbsp;дому`, `от 106 596 ₽`)
						+e.slide.swiper-slide
							+catalogItem(3, `Для дачи`, `от 106 596 ₽`)
						+e.slide.swiper-slide
							+catalogItem(4, `Для бассейна`, `от 106 596 ₽`)
						+e.slide.swiper-slide
							+catalogItem(5, `Гаражи из сэндвич-панелей`, `от 106 596 ₽`)
						+e.slide.swiper-slide
							+catalogItem(6, `Промышленные`, `от 106 596 ₽`)
	// end sCatalog

mixin sCatalogProd(data)
	// start sCatalog
	+b.SECTION.sCatalog--prod.section&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Производим также
			+e.slider-wrapper
				+arrow
				+e.slider--js.swiper
					.swiper-wrapper
						+e.slide.swiper-slide
							+catalogItem(1, `Бетонные площадки`, `от 59 150 ₽`)
						+e.slide.swiper-slide
							+catalogItem(1, `Мощение`, `от 59 150 ₽`)
						+e.slide.swiper-slide
							+catalogItem(1, `Ворота откатные <br> и&nbsp;распашные`, `от 59 150 ₽`)
						+e.slide.swiper-slide
							+catalogItem(1, `Заборы и&nbsp;ограждения`, `от 59 150 ₽`)
						+e.slide.swiper-slide
							+catalogItem(1, `Кованые изделия`, `от 59 150 ₽`)
						+e.slide.swiper-slide
							+catalogItem(1, `Крыльцо`, `от 59 150 ₽`)
						+e.slide.swiper-slide
							+catalogItem(1, `Лестницы`, `от 59 150 ₽`)
						+e.slide.swiper-slide
							+catalogItem(1, `Изготовление металлоконструкций`, `от 59 150 ₽`)
	// end sCatalog