// start .sCatalog
.sCatalog {
	--sPT: #{rem(32)};
	--sPB: #{rem(47)};
	--sTPB: #{rem(30)};
	position: relative;
	@include media-breakpoint-up(md) {
		--sPT: #{rem(80)};
		--sPB: #{rem(85)};
		--sTPB: #{rem(55)};
	}
	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: calc(-2 * var(--sPT));
		width: 100%;
		// height: 4910px;
		height: rem(4910);
		pointer-events: none;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='1920' height='4910' viewBox='0 0 1920 4910' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1920 4909.5H0V3436.62L1920 2491V4909.5Z' fill='url(%23paint0_linear_3101_925)'/%3e%3cpath d='M0 0H1920V1472.88L0 2418.5V0Z' fill='url(%23paint1_linear_3101_925)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_3101_925' x1='960' y1='2989' x2='960' y2='4910' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FBF8F4'/%3e%3cstop offset='1' stop-color='%23FBF8F4' stop-opacity='0'/%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_3101_925' x1='1000' y1='1914.5' x2='-0.00016615' y2='-30.4999' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FBF8F4'/%3e%3cstop offset='1' stop-color='%23FBF8F4' stop-opacity='0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
		background-repeat: no-repeat;
		z-index: -3;
	}
	.section-title {
		h2 {
			max-width: 18em;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__slider {
		padding: rem(16);
		margin: rem(-16);
	}
	&__slider-wrapper {
		position: relative;
		--btnRatio: calc(270 / 384);
		max-width: rem(385);
		margin-left: auto;
		margin-right: auto;
		@include media-breakpoint-up(md) {
			max-width: 100%;
		}
		.swiper-button-hand {
			margin: 0;
			top: calc(100% * var(--btnRatio) / 2);
			transform: translateY(calc(-1 * var(--swiperArrowSize) / 2));
			@include media-breakpoint-up(lg) {
				display: none;
			}
		}
		.swiper-wrapper {
			@include row-sw(24px, lg, calc(var(--bs-gutter-x) * 1.75));
			@include media-breakpoint-up(xxl) {
				--bs-gutter-x: #{rem(32)};
			}
		}
	}
	&__slide {
		@include media-breakpoint-up(lg) {
			flex: 0 0 auto !important;
			width: 33.33333333% !important;
		}
	}
	// .catalogItem {
	// 	max-width: rem(336);
	// 	margin-left: auto;
	// 	margin-right: auto;
	// }

	&--prod {
		--sPT: #{rem(26)};
		--sPB: #{rem(41)};
		--sTPB: #{rem(30)};
		@include media-breakpoint-up(md) {
			--sPT: #{rem(52)};
			--sPB: #{rem(98)};
			--sTPB: #{rem(72)};
		}
		&::before {
			display: none;
		}
		h2 {
			@extend .h3;
		}
		.sCatalog__slide {
			@include media-breakpoint-up(lg) {
				flex: 0 0 auto !important;
				width: 25% !important;
			}
		}
		.catalogItem {
			picture {
				border: none;
				@include media-breakpoint-up(lg) {
					--ratio: 270/280;
				}
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sCatalog
