// start .topLine
.topLine {
	--sPT: 0;
	--sPB: 0;
	height: rem(64);
	display: flex;
	align-items: center;
	background-color: $light;
	// @include media-breakpoint-down(lg) {
	// 	position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   z-index: 4;
  //   border-bottom: 1px solid rgba(255,255,255,.2);
	// 	background-color: transparent;
	// }
	&__main-row {
		align-items: center;
		--bs-gutter-x: #{rem(14)};
		@include media-breakpoint-up(sm) {
			--bs-gutter-x: #{rem(32)};
		}
		@include media-breakpoint-up(lg) {
			--bs-gutter-x: #{rem(55)};
		}
		.row {
			align-items: center;
			--bs-gutter-y: #{rem(12)};
			justify-content: flex-end;
			@include media-breakpoint-up(sm) {
				justify-content: space-between;
			}
			@include media-breakpoint-up(lg) {
				--bs-gutter-x: #{rem(45)};
			}
			// @include media-breakpoint-down(sm) {
			// 	--bs-gutter-x: #{rem(16)};
			// }
		}
	}
	&__col {
		@include media-breakpoint-up(lg) {
			margin-right: auto;
		}
	}
	// .toggle-menu-mobile {
	// 	@include media-breakpoint-down(lg) {
	// 		--color: #fff;
	// 		min-width: rem(84);
	// 	}
	// }
	// &__logo {
	// 	&:not(:hover) {
	// 		color: $black;
	// 	}
	// 	.icon {
	// 		font-size: rem(33);
	// 		@media (min-width: 350px) {
	// 			font-size: rem(39);
	// 		}
	// 	}
	// }
	// .schedule {
	// 	@include roww(5px, m);
	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: flex-end;
	// 	span {
	// 		&:first-child {
	// 			display: inline-flex;
	// 			align-items: center;
	// 			justify-content: center;
	// 			width: rem(54);
	// 			height: rem(14);
	// 			font-weight: 500;
	// 			font-size: rem(10);
	// 			line-height: 100%;
	// 			// padding-bottom: 1px;
	// 			color: $white;
	// 			border-radius: 3px;
	// 			background-color: $success;
	// 		}
	// 		&:last-child {
	// 			font-size: rem(12);
	// 			line-height: calc(14 / 12);
	// 			color: #000000;
	// 		}
	// 	}
	// }
	// &__label {
	// 	display: flex;
	// 	align-items: center;
	// 	width: rem(199);
	// 	height: rem(32);
	// 	padding: rem(7) rem(27) rem(7) rem(11);
	// 	clip-path: polygon(100% 0%, calc(100% - 20px) 50%, 100% 100%, 0 100%, 0 0);
	// 	background-color: $info;
	// 	border-radius: 3px 0 0 3px;
	// 	span {
	// 		font-weight: 500;
	// 		font-size: rem(14);
	// 		line-height: 1;
	// 		color: $secondary;
	// 	}
	// }

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}
	@include media-breakpoint-only(sm) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-only(lg) {
	}
	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.topLine

.locaton-dropdown {
	min-width: 120px;
	&__btn {
		@include roww(5px, m);
		@include mt;
		display: flex;
		align-items: center;
		cursor: pointer;
		@include media-breakpoint-up(sm) {
			padding: rem(5) 0;
		}
		&:hover {
			color: $link-hover-color;
		}
		.icon-geo-tag {
			font-size: rem(16);
		}
		.icon-chevron-down {
			font-size: rem(5);
			fill: none;
			stroke: currentColor;
			stroke-width: 1.5px;
			transition: transform var(--s) ease-in-out;
		}
		span {
			font-weight: 600;
			font-size: rem(12);
			line-height: 100%;
		}
	}
	&.active {
		.dropdown__btn {
			.icon-chevron-down {
				transform: rotateX(180deg);
			}
		}
	}
	&__content {
		background-color: $white;
		left: rem(-10);
		width: calc(100% + rem(20));
		padding: rem(10);
		border-radius: 10px;
		border: 1px solid $info;
		box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.09);
	}
	&__item {
		display: block;
		font-size: rem(13);
		margin-bottom: rem(5);
		font-weight: 500;
		line-height: 1.3;
		padding: 2.5px 0;
		&:last-child {
			margin-bottom: 0;
		}
		&:not(:hover) {
			color: $body-color;
		}
	}
}

.schedule {
	@include roww(5px, m);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	span {
		&:first-child {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: rem(54);
			height: rem(14);
			font-weight: 500;
			font-size: rem(10);
			line-height: 100%;
			// padding-bottom: 1px;
			color: $white;
			border-radius: 3px;
			background-color: $success;
		}
		&:last-child {
			font-size: rem(12);
			line-height: calc(14 / 12);
			color: #000000;
		}
	}
}

.label {
	display: flex;
	align-items: center;
	width: auto;
	height: rem(32);
	padding: rem(7) rem(35) rem(7) rem(11);
	clip-path: polygon(100% 0%, calc(100% - 20px) 50%, 100% 100%, 0 100%, 0 0);
	background-color: $info;
	border-radius: 3px 0 0 3px;
	span {
		font-weight: 500;
		font-size: rem(14);
		line-height: 1;
		color: $secondary;
	}
}

.logo {
	&:not(:hover) {
		color: $black;
		// @include media-breakpoint-down(lg) {
		// 	color: #fff;
		// }
	}
	.icon {
		font-size: rem(33);
		@media (min-width: 350px) {
			font-size: rem(39);
		}
	}
	img {
		max-width: 110px;
		height: auto;
	}
}