mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes).d-none.d-lg-flex
		.container
			+e.main-row.row
				.col-auto
					+b.logo(href="/")
						//- +icon('logo-top')
						+img('img/logo.png')
				.col-auto
					+b.schedule
						span открыто
						span Пн&ndash;Вс &bull; 9:00&ndash;21:00
					//- .row
					//- 	+e.col.col-auto
					//- 		+b.locaton-dropdown.dropdown
					//- 			+e.btn.dropdown__btn
					//- 				+icon('geo-tag')
					//- 				span Москва и&nbsp;МО
					//- 				+icon('chevron-down')
					//- 			+e.content.dropdown__content
					//- 				+e.item(href="#") Москва и&nbsp;МО
					//- 				+e.item(href="#") Санкт-Петербург и&nbsp;область
					//- 				+e.item(href="#") И так далее
									
					//- 	.col-sm-auto
					//- 		+b.schedule
					//- 			span открыто
					//- 			span Пн&ndash;Вс &bull; 9:00&ndash;21:00
					//- 	.col-auto.d-none.d-md-flex
					//- 		+b.label 
					//- 			span Строим навесы с&nbsp;2019&nbsp;года
	// end topLine