// start .sSpecifications
.sSpecifications {
	--sPT: #{rem(6)};
	--sPB: #{rem(32)};
	// --sTPB: ;
	background-color: $white;
	@include media-breakpoint-up(lg) {
		--sPB: #{rem(52)};
	}
	&__slider-thumbs {
		width: 100%;
	}
	&__slider {
		margin-bottom: rem(8);
		flex-grow: 1;
		width: 100%;
		// border-radius: rem(12);
	}
	&__slider-wrap {
		position: relative;
		display: flex;
		flex-direction: column;
		// margin-bottom: rem(20);
		height: calc(100% - #{rem(20)});
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(0);
			height: calc(100%);
		}
	}
	.swiper-slide-thumb-active {
		.sSpecifications__img-wrap--thumbs {
			opacity: 1;
		}
	}
	&__img-wrap {
		min-height: 100%;
		picture {
			min-height: 100%;
			@include block(800, 478);
			img {
				// border-radius: rem(8);
				border: 1px solid $info;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		&--thumbs {
			opacity: 0.5;
			picture {
				@include block(193, 99);
				img {
					// border-radius: rem(8);
					border: 1px solid #e0e0e0;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}
	table {
		width: 100%;
		&:not(:last-of-type) {
			margin-bottom: rem(16);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(32);
			}
		}
		&:last-of-type {
			margin-bottom: rem(18);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(40);
			}
		}
		p {
			@extend .h6;
			color: $black;
		}
		tr {
			&:not(:last-of-type) {
				td {
					border-bottom: 1px solid $info;
				}
			}
		}
		td {
			width: 50%;
			font-size: rem(12);
			padding: 8px 0;
			line-height: 1.15em;
			&:first-child {
				color: rgba($color: $dark, $alpha: 0.7);
			}
		}
	}
	a {
		width: 100%;
		box-shadow: 0 4px 0 #e2a826, 0 10px 13px rgba(0, 0, 0, 0.09);
		// margin-bottom: rem(16);
	}
	.btn {
		width: 100%;
		margin-top: rem(16);
	}
	.sPortfolio &__wrap {
		@include media-breakpoint-up(md) {
			text-align: center;
		}
		h4 {
			margin-bottom: rem(12);
			color: $black;
		}
		p {
			font-size: rem(12) !important;
			max-width: rem(1100);
			margin-left: auto;
			margin-right: auto;
			margin-bottom: rem(18);
			color: #323c49 !important;
			@include media-breakpoint-up(md) {
				font-size: rem(14) !important;
			}
		}
		h5 {
			margin-bottom: rem(12);
			font-size: rem(14);
			color: #323c49;
			@include media-breakpoint-up(md) {
				font-size: rem(18);
			}
		}
	}
	&__price {
		font-size: rem(12);
		line-height: 1.4em;
		color: #323c49;
		@include media-breakpoint-up(md) {
			font-size: rem(14);
		}
	}
	&__status {
		position: absolute;
		top: 0;
		left: 0;
		border-radius: rem(8) 0 rem(8) 0;
		background-color: #fff;
		color: #323c49;
		font-size: rem(12);
		font-weight: 700;
		padding: rem(13) rem(5);
		line-height: 1.5em;
		z-index: 2;
		width: 100%;
		max-width: rem(120);
		text-align: center;
		&--bg {
			background-color: #323c49;
			color: #fff;
		}
		@include media-breakpoint-up(md) {
			font-size: rem(16);
			padding: rem(18) rem(13);
			max-width: rem(160);
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sSpecifications
