mixin menu-toggle()
	+b.toggle-menu-mobile--js&attributes(attributes)
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row
				.col-auto.d-lg-none
					+menu-toggle()
				.col-auto.d-none.d-lg-block
					+b.services-dropdown.dropdown
						+e.btn.dropdown__btn
							+e.toggle-icon
								span
							span Услуги
						+e.content.dropdown__content
							.container
								.row
									.col-3
										h6 
											+img('img/svg/dropdown-1.svg')
											| Навесы
										ul
											li: a(href="#") Для машин
											li: a(href="#") К дому
											li: a(href="#") Для бассейна
											li: a(href="#") Кованые
											li: a(href="#") Беседки
											li: a(href="#") Козырьки
											li: a(href="#") Другие
											
									.col-6
										h6 
											+img('img/svg/dropdown-2.svg')
											| Дополнительные услуги
										+e.UL.large-list
											li: a(href="#") Гаражи из сэндвич панелей
											li: a(href="#") Террасы и веранды из ДПК
											li: a(href="#") Заборы
											li: a(href="#") Ограждения
											li: a(href="#") Откатные ворота
											li: a(href="#") Распашные ворота
											li: a(href="#") Торговые павильоны
											li: a(href="#") Быстровозводимые здания
											li: a(href="#") Металлокаркасы лестниц
											li: a(href="#") Мощение
											li: a(href="#") Откатные ворота
											li: a(href="#") Промышленные откатные ворота
											li: a(href="#") Распашные ворота
											li: a(href="#") Рулонные ворота
											li: a(href="#") Комплекты для откатных ворот
											li: a(href="#") Калитки
									.col-3
										h6 
											+img('img/svg/dropdown-3.svg')
											| О компании
										ul
											li: a(href="#") Портфолио работ
											li: a(href="#") Отзывы клиентов
											li: a(href="#") Калькулятор навесов
											li: a(href="#") Как заказать навес
											li: a(href="#") Сертификаты качества
											li: a(href="#") О компании
											li: a(href="#") Блог
				+e.col.col-auto
					.menu-mobile.menu-mobile--js
						//- +menu-toggle().d-lg-none
						.menu-mobile__inner
							//- +e.btn-wrap
							//- 	+e.btn.link-modal-js(href="#modal-call" data-title= "Вызвать замерщика" data-text= "Оставьте свой номер телефона, мы&nbsp;вам перезвоним и&nbsp;договоримся о&nbsp;замере" data-btn= "Отправить" data-pic= "1") Вызвать замерщика
							+ddGroup
								+b.accordion-item
									+e.head.dd-head-js.active
										h4
											+img('img/svg/dropdown-1.svg')
											| Навесы
										+icon('chevron-right')
									+e.content.dd-content-js.active
										ul
											li: a(href="#") Для машин
											li: a(href="#") К дому
											li: a(href="#") Для бассейна
											li: a(href="#") Кованые
											li: a(href="#") Беседки
											li: a(href="#") Козырьки
											li: a(href="#") Другие
								+b.accordion-item
									+e.head.dd-head-js
										h4
											+img('img/svg/dropdown-2.svg')
											| Дополнительные услуги
										+icon('chevron-right')
									+e.content.dd-content-js
										+e.UL.large-list
											li: a(href="#") Гаражи из сэндвич панелей
											li: a(href="#") Террасы и веранды из ДПК
											li: a(href="#") Заборы
											li: a(href="#") Ограждения
											li: a(href="#") Откатные ворота
											li: a(href="#") Распашные ворота
											li: a(href="#") Торговые павильоны
											li: a(href="#") Быстровозводимые здания
											li: a(href="#") Металлокаркасы лестниц
											li: a(href="#") Мощение
											li: a(href="#") Откатные ворота
											li: a(href="#") Промышленные откатные ворота
											li: a(href="#") Распашные ворота
											li: a(href="#") Рулонные ворота
											li: a(href="#") Комплекты для откатных ворот
											li: a(href="#") Калитки
								+b.accordion-item
									+e.head.dd-head-js
										h4
											+img('img/svg/dropdown-3.svg')
											| О компании
										+icon('chevron-right')
									+e.content.dd-content-js
										ul
											li: a(href="#") Портфолио работ
											li: a(href="#") Отзывы клиентов
											li: a(href="#") Калькулятор навесов
											li: a(href="#") Как заказать навес
											li: a(href="#") Сертификаты качества
											li: a(href="#") О компании
											li: a(href="#") Блог
							+mnu()
							+e.link(href='tel:+74952122320') +7 (495) 212-23-20
							+e.link(href='tel:+79697778247') 
								| +7 (969) 777-82-47
								+icon('wa')
							+e.email(href='mailto:info@naves-na-zakaz.ru') info@naves-na-zakaz.ru
							+e.soc-wrap
								+soc()
									+item-sos()
										+img('img/svg/yt.svg')
									+item-sos()
										+img('img/svg/inst.svg')
									+item-sos()
										+img('img/svg/vk2.svg')
									+item-sos()
										+img('img/svg/dzen.svg')
							+e.footer-btn-wrap
								.row
									.col-6
										+e.footer-btn.link-modal-js(href='#modal-call' data-title= "Вызвать замерщика" data-text= "Оставьте свой номер телефона, мы&nbsp;вам перезвоним и&nbsp;договоримся о&nbsp;замере" data-btn= "Отправить" data-pic= "1")
											+e.icon-wrap
												+icon('roulette')
											| Вызвать замерщика
									.col-6
										+e.footer-btn.link-modal-js(href='#modal-callback' data-desktop-pic= "img/@2x/modal-3.png" data-mobile-pic='img/avatar-1.png')
											+e.icon-wrap
												+icon('callBack')
											| Обратный звонок
				.col.text-end
					+e.center-block
						+b.logo(href="/").d-lg-none.mt
							+icon('logo-top')
						+e.tel(href="tel:+74952563067").mt +7 495 256 30 67
				.col-auto
					+soc().--header
						+e.A.item--phone-call.link-modal-js(href="#modal-call" data-title= "Обратный звонок" data-text= "Оставьте свой номер телефона, и&nbsp;мы&nbsp;вам перезвоним в&nbsp;течение 15&nbsp;минут." data-btn= "Заказать обратный звонок" data-pic= "2")
							+icon('phone-call')
						+e.A.item--whatsapp(href="#" target="_blank")
							+icon('whatsapp')
						+e.A.item--measuring.d-none.d-xl-grid.link-modal-js(href="#modal-call" data-title= "Вызвать замерщика" data-text= "Оставьте свой номер телефона, мы&nbsp;вам перезвоним и&nbsp;договоримся о&nbsp;замере" data-btn= "Отправить" data-pic= "1")
							+icon('measuring')
						//- +item-sos('whatsapp')
						//- +item-sos('phone-call')
						//- +item-sos('measuring-tape')
	// end top-nav