.soc {
	@include roww(10px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
	}
	.icon {
		font-size: rem(30);
	}
	&--header {
		.soc__item {
			@include mt(0.2s);
			width: rem(32);
			height: rem(32);
			border-radius: 50%;
			.icon {
				font-size: rem(16);
			}
			&:hover {
				box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
			}
			&--whatsapp {
				background-color: $light;
				color: $success;
				&:hover {
					background-color: lighten($light, 10%);
				}
			}
			&--phone-call {
				// background-color: $primary;
				// color: $secondary;
				// &:hover {
				// 	background-color: lighten($primary, 10%);
				// }
				background-color: #86755B;
				color: $light;
				&:hover {
					color: #86755B;
					background-color: lighten($light, 10%);
				}
			}
			&--measuring {
				background-color: #86755B;
				color: $light;
				&:hover {
					color: #86755B;
					background-color: lighten($light, 10%);
				}
			}
		}
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.catalogItem {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	text-align: center;

	&:hover {
		picture {
			box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.09);
		}
	}
	picture {
		@include mt;
		@include block(384, 270);
		width: 100%;
		// border-radius: 20px;
		overflow: hidden;
		border: 1px solid $info;
		margin-bottom: rem(16);
		img {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	h6 {
		margin-bottom: rem(10);
		color: $dark;
		// color: $body-color;
		flex-grow: 1;
	}
	.small {
		font-size: rem(13);
		margin-bottom: rem(16);
		font-weight: 500;
		line-height: 150%;
		color: $dark;
		@include media-breakpoint-up(sm) {
			font-size: rem(14);
		}
	}
	&__btn {
		@extend .btn, .btn-primary, .btn-sm;
		width: 100%;
		max-width: rem(216);
		&:after {
			content: "";
			@include a-cent;
		}
	}
}
.sticky-wrapper {
}
.page-head {
	padding-top: rem(25);
	padding-bottom: rem(35);
	@include media-breakpoint-up(md) {
		padding-top: rem(30);
		padding-bottom: rem(40);
	}
	@include media-breakpoint-up(lg) {
		padding-top: rem(52.5);
	}
	&__row {
		@include mt(0.2s);
		align-items: center;
		margin-bottom: rem(15);
		background-color: $white;
		z-index: 999;
		@include media-breakpoint-up(md) {
			margin-bottom: rem(25);
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(27.5);
		}
		.container {
			margin-top: 0;
			@include media-breakpoint-up(lg) {
				padding-top: rem(17.5);
				padding-bottom: rem(17.5);
			}
			padding-top: 10px;
			padding-bottom: 10px;
		}
		transition-duration: 0.2s;
		.row {
			align-items: center;
			--bs-gutter-x: #{rem(16)};
			--bs-gutter-y: calc(var(--bs-gutter-x) * 0.7);
			@include media-breakpoint-up(md) {
				--bs-gutter-x: #{rem(24)};
			}
			@include media-breakpoint-up(lg) {
				--bs-gutter-x: #{rem(32)};
			}
		}
		&.sticky {
			background-color: $light;
		}
	}
	// &__row.fixed {
	// 	background-color: #f2f6fc;
	// 	position: fixed;
	// 	@include media-breakpoint-up(lg) {
	// 		top: 64px;
	// 	}
	// 	// @include media-breakpoint-up(md) {
	// 	// 	top: 64px;
	// 	// }
	// 	top: 48px;
	// 	left: 0;
	// 	width: 100vw;
	// 	z-index: 999;
	// 	// .container {
	// 	// 	margin-top: 0;
	// 	// 	@include media-breakpoint-up(lg) {
	// 	// 		padding-top: rem(17.5);
	// 	// 		padding-bottom: rem(17.5);
	// 	// 	}
	// 	// 	padding-top: 10px;
	// 	// 	padding-bottom: 10px;
	// 	// }
	// }
	&__arrow-back {
		color: $secondary;
		// margin-bottom: rem(25);
		display: flex;
		align-items: center;
		justify-content: center;
		height: rem(23);
		padding-right: rem(12);
		// @include media-breakpoint-up(md) {
		// 	margin-bottom: rem(35);
		// }
		// @include media-breakpoint-up(lg) {
		// 	margin-bottom: rem(45);
		// }

		.icon {
			font-size: rem(16);
		}
		&:hover {
			color: $primary;
		}
	}
	&__col {
		width: 100%;
		@media (min-width: 350px) {
			width: auto;
		}
	}
	&__wrap {
		// display: flex;
	}
	h1 {
		margin-bottom: 0;
	}
	p {
		margin-left: rem(30);
		font-weight: 700;
		color: $info;
		margin-bottom: 0;
		align-self: end;
		font-size: rem(14);
		@include media-breakpoint-up(lg) {
			font-size: rem(18);
		}
	}
	.info-panel {
		padding-top: rem(15);
		@include media-breakpoint-up(sm) {
			padding-top: rem(20);
		}
		@include media-breakpoint-up(lg) {
			padding-top: rem(30);
		}
		@include media-breakpoint-up(xl) {
			padding-top: rem(40);
		}
	}
}

.portfolio-page {
	.page-head {
		@include media-breakpoint-up(lg) {
			padding-bottom: rem(88);
		}
	}
}

.reviews-page {
	.page-head {
		@include media-breakpoint-up(lg) {
			padding-bottom: rem(57);
		}
		&__wrap {
			display: flex;
		}
	}
}

.back-top {
	a {
		@include mt;
		position: fixed;
		right: rem(15);
		bottom: rem(66);
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 301;
		@include media-breakpoint-up(lg) {
			right: rem(33);
			bottom: rem(144);
		}
		&:hover {
			.icon {
				box-shadow: 1px 3px 16px 0px #0000003b;
			}
		}
	}
	.icon {
		@include mt;
		stroke: $secondary;
		width: rem(50);
		height: rem(50);
		background-color: $info;
		font-size: rem(12);
		stroke-width: 2px;
		padding: rem(18);
		border-radius: 50%;
		margin-bottom: rem(6);
	}
	span {
		color: $secondary;
		font-size: rem(10);
		font-weight: 600;
	}
}
.search-field {
	display: flex;
	position: relative;
	max-width: 100%;
	color: $secondary;
	&:hover {
		input {
			border: 1px solid $info;
		}
	}
	input {
		@include mt;
		flex-grow: 1;
		border: 1px solid transparent;
		outline: none;
		border-radius: 4px;
		font-size: rem(14);
		line-height: 150%;
		padding: rem(5) rem(4) rem(3) rem(30);
		color: inherit;
		&:hover,
		&:focus {
			border: 1px solid $info;
		}
		&::placeholder {
			color: $info;
		}
	}
	button {
		@include a-cent(y);
		@include mt;
		left: 0;
		border: none;
		outline: none;
		background: none;
		width: rem(30);
		height: rem(30);
		padding: 0;
		color: inherit;
		.icon {
			@include a-cent;
			font-size: rem(16);
		}
		&:hover {
			color: $primary;
		}
	}
}

.category-menu {
	color: $secondary;
	display: inline-flex;
	&.active {
		.category-menu__btn {
			border-bottom-color: $secondary;
		}
	}
	.categories {
		width: rem(280);
	}
	&__btn {
		@include mt;
		display: flex;
		align-items: center;
		cursor: pointer;
		border-top: 2px solid transparent;
		border-bottom: 2px solid transparent;
		&:hover {
			border-bottom-color: $secondary;
		}
		.icon {
			font-size: rem(14);
			margin-right: rem(10);
		}
		span {
			display: block;
			font-weight: bold;
			font-size: rem(18);
			line-height: calc(24 / 18);
		}
	}
}
.categories {
	padding: rem(24);
	background-color: $light;
	box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.09);
	border-radius: 16px;
	h6 {
		margin-bottom: rem(16);
		text-align: center;
		margin-top: rem(-6);
	}
	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 8px;
		margin-bottom: rem(8);
		color: $secondary;
		background-color: $light;
		font-weight: bold;
		font-size: rem(16);
		line-height: 145%;
		padding: rem(10) rem(16) rem(10) rem(10);
		border: 1px solid $info;
		&:last-child {
			margin-bottom: 0;
		}
		&:hover,
		&.active {
			color: $white;
			background-color: $secondary;
			border-color: $secondary;
		}
		span {
			margin-right: rem(10);
		}
		img,
		svg,
		.icon {
			fill: currentColor !important;
			* {
				fill: currentColor !important;

			}
			height: 1em;
			font-size: rem(32);
		}
	}
}

.info-panel {
	// padding-top: rem(15);
	// @include media-breakpoint-up(sm) {
	// 	padding-top: rem(20);
	// }
	// @include media-breakpoint-up(lg) {
	// 	padding-top: rem(30);
	// }
	// @include media-breakpoint-up(xl) {
	// 	padding-top: rem(40);
	// }
	.row {
		--bs-gutter-x: #{rem(10)};
		--bs-gutter-y: calc(var(--bs-gutter-x) / 2);
		@include media-breakpoint-up(lg) {
			--bs-gutter-x: #{rem(20)};
		}
	}
	&__item {
		position: relative;
		padding: rem(7);
		border-radius: 5px;
		display: flex;
		align-items: center;
		color: rgba($color: $secondary, $alpha: 0.5);
		@include media-breakpoint-up(lg) {
		}
		span {
			display: block;
			font-size: rem(14);
			line-height: 100%;
			color: inherit;
		}
		.icon {
			@include a-cent(y);
			left: 0;
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
		}
		&--btn {
			border: 1px solid $secondary;
		}
		&--views {
			padding-left: rem(38);
			.icon {
				font-size: rem(30);
			}
		}
		&--time {
			padding-left: rem(28);
			.icon {
				font-size: rem(20);
			}
		}
	}
}

.blog-item {
	display: block;
	&:hover {
		picture {
			box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.09);
		}
		h4 {
			color: $link-hover-color;
		}
	}
	picture {
		@include mt;
		@include block(900, 500);
		border: 1px solid #e0e0e0;
		border-radius: 16px;
		overflow: hidden;
		margin-bottom: rem(20);
		img {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	h4 {
		@include mt;
		margin-bottom: rem(20);
	}
	.info-panel {
		&__item {
			span {
				font-size: rem(12);
				line-height: 115%;
			}
			&--btn {
				border: 1px solid #e0e0e0;
			}
		}
	}
}

.content-table {
	@include media-breakpoint-up(sm) {
		width: 280px;
	}
	width: 100%;
	border: 1px solid #e0e0e0;
	border-radius: 20px;
	background-color: $white;
	padding: rem(20);
	&__title {
		line-height: 130%;
		color: rgba(#35455c, 0.5);
		margin-bottom: rem(20);
		font-weight: bold;
	}
	ul {
		list-style-type: none;
		margin-bottom: 0;
	}
	a {
		color: #35455c !important;
		font-size: rem(14);
		line-height: 150%;
		font-weight: 500;
	}
	li {
		margin-bottom: rem(20);
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.adv-item {
	box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.09);
	border-radius: 16px;
	position: relative;
	padding: rem(24);
	display: flex;
	flex-direction: column;
	min-height: rem(320);
	background-color: $white;
	picture {
		img {
			width: 100%;
			height: 100%;
			border-radius: 16px;
			object-fit: cover;
		}
	}
	&__title {
		color: rgba($white, 0.5);
		line-height: 130%;
		font-weight: bold;
		margin-bottom: rem(17);
	}
	&__caption {
		@include media-breakpoint-up(xl) {
			font-size: rem(24);
		}
		font-size: rem(20);
		line-height: 130%;
		font-weight: bold;
		margin-bottom: rem(81);
		color: $white;
	}
	&__btn {
		@extend .btn, .btn-primary, .with-shadow;
		width: 100%;
		margin-top: auto;
	}
	&--white {
		background-color: $white;
		display: flex;
		flex-direction: column;
		// min-height: unset;
		// @include media-breakpoint-up(md) {
		// 	min-height: rem(320);
		// }
		.adv-item__title {
			color: rgba($color: $body-color, $alpha: 0.5);
		}
		.adv-item__caption {
			color: $body-color;
			margin-bottom: rem(32);
			// flex-grow: 1;
		}
		.adv-item__btn {
			padding-left: rem(12);
			padding-right: rem(12);
		}
	}
	// .social {
	// 	margin-top: auto;
	// 	margin-bottom: auto;
	// }
}

.social {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	&__item {
		@include roww(18px, m);
		display: flex;
		align-items: center;
		margin-bottom: rem(18);
		color: $body-color;
		&:last-child {
			margin-bottom: 0;
		}
		&:hover {
			.social__icon-wrap {
				background-color: $white;
				box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
			}
		}
	}
	&__icon-wrap {
		@include mt(0.2s);
		position: relative;
		width: rem(32);
		height: rem(32);
		border-radius: 50%;
		background-color: $light;
		.icon {
			@include a-cent;
			font-size: rem(16);
			&-instagram {
				color: #d21fff;
			}
			&-youtube {
				color: #ff0000;
			}
			&-whatsapp {
				color: #55cd6c;
			}
		}
	}
	span {
		display: block;
		font-weight: 500;
		font-size: rem(14);
		line-height: 150%;
	}
}
