mixin sStages(data)
	// start sStages
	+b.SECTION.sStages.section#sStages&attributes(attributes)
		.container
			+b.section-title.text-center
				h4 Этапы работы
				h2 Как заказать и&nbsp;получить навес
			.row
				mixin sStagesItem(n, h, s, t)
					+e.col.col-sm-6.col-lg-4
						+e.item
							span= n
							h4!= h
							span!= s
							p!= t
							+icon('sStages-arrow')
				+sStagesItem(1, `Вызов замерщика`, `Бесплатно`, `Приедет в&nbsp;будни или выходные. Опишите пожелания, мы&nbsp;все учтем.`)
				+sStagesItem(2, `Смета и&nbsp;3D-макет`, `Бесплатно`, `Рассчитаем цену материалов и&nbsp;работы и&nbsp;создадим наглядную визуализацию`)
				+sStagesItem(3, `Заключение договора`, `Предоплата на&nbsp;материалы`, `У&nbsp;нас в&nbsp;офисе, через курьера или в&nbsp;электронном виде.`)
				+sStagesItem(4, `Изготовление навеса`, `В&nbsp;среднем 14&minus;30 дней`, `На&nbsp;собственном производстве, расположенном в&nbsp;МО.`)
				+sStagesItem(5, `Доставка и&nbsp;установка`, `В&nbsp;среднем 1&minus;2 дня`, `Доставка в&nbsp;выбранный вами день. Установка&nbsp;&mdash; в&nbsp;день доставки.`)
				+sStagesItem(6, `Подписание акта`, `Финальная оплата`, `После установки навеса мы&nbsp;вывезем за&nbsp;собой весь строительный мусор.`)
				
	// end sStages