// start .sStages
.sStages {
	--sPT: #{rem(30)};
	--sPB: #{rem(20)};
	--sTPB: #{rem(32)};
	counter-reset: num;
	@include media-breakpoint-up(sm) {
		--sTPB: #{rem(80)};
		--sPB: #{rem(30)};
	}
	@include media-breakpoint-up(md) {
		--sPT: #{rem(40)};
		--sPB: #{rem(80)};
		--sTPB: #{rem(90)};
	}
	@include media-breakpoint-up(lg) {
		--sPB: #{rem(110)};
		--sTPB: #{rem(100)};
	}
	@include media-breakpoint-up(xxl) {
		--sPB: #{rem(160)};
		--sTPB: #{rem(155)};
	}
	h2 {
		max-width: 13em;
		margin-left: auto;
		margin-right: auto;
	}
	.row {
		--bs-gutter-x: #{rem(16)};
		@include media-breakpoint-up(sm) {
			--bs-gutter-y: #{rem(55)};
		}
		@include media-breakpoint-up(md) {
			--bs-gutter-x: #{rem(24)};
		}
		@include media-breakpoint-up(xl) {
			--bs-gutter-x: #{rem(32)};
			--bs-gutter-y: #{rem(85)};
		}
	}
	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: rem(5) 0 rem(27);
		max-width: rem(300);
		margin-left: auto;
		margin-right: auto;
		height: 100%;
		@include media-breakpoint-up(md) {
			max-width: rem(385);
			padding: 0 0 rem(23);
		}
		&::before {
			position: absolute;
			content: counter(num);
			counter-increment: num;
			left: 50%;
			right: -11.37%;
			top: 0%;
			bottom: 0%;
			font-weight: bold;
			font-size: rem(190);
			line-height: 100%;
			text-align: center;
			color: rgba($color: #D1C4AE, $alpha: 0.2);
			z-index: -1;
			@include media-breakpoint-up(sm) {
				left: 50%;
				right: 4.09%;
				top: 5%;
				bottom: 0%;
			}
		}
		.icon {
			position: absolute;
			stroke: $secondary;
			// stroke: rgba($color: $body-color, $alpha: 0.7);
			fill: none;
			font-size: rem(15);
			stroke-width: 2px;
			@include media-breakpoint-up(sm) {
				stroke-width: 1px;
				font-size: rem(35);
			}
			@include media-breakpoint-up(md) {
				font-size: rem(45);
			}
			@include media-breakpoint-up(xl) {
				font-size: rem(50);
			}
			@include media-breakpoint-up(xxl) {
				font-size: rem(54);
			}
		}

		span {
			&:first-of-type {
				font-weight: bold;
				font-size: rem(32);
				line-height: 100%;
				color: #DABD8E;
				margin-bottom: rem(10);
				@include media-breakpoint-up(md) {
					font-size: rem(48);
					line-height: 100%;
				}
			}
			&:last-of-type {
				position: relative;
				font-weight: 500;
				font-size: rem(16);
				line-height: 150%;
				color: rgba($color: $black, $alpha: 0.7);
				padding-bottom: rem(5);
				margin-bottom: rem(10);
				@include media-breakpoint-up(md) {
					padding-bottom: rem(10);
				}
				@include media-breakpoint-up(xl) {
					font-size: rem(18);
					line-height: 105%;
				}
				&:after {
					content: "";
					@include a-cent(x);
					bottom: 0;
					width: rem(50);
					height: 1px;
					background-color: #e0e0e0;
				}
			}
		}
		p {
			font-weight: 500;
			font-size: rem(13);
			line-height: 150%;
			margin-bottom: 0;
			flex-grow: 1;
			color: $black;
			@include media-breakpoint-up(md) {
				font-size: rem(16);
				line-height: 140%;
			}
		}
	}
	&__col {
		&:nth-child(2n - 1) {
			.icon {
				right: 15%;
				bottom: -8%;
				transform: matrix(-0.71, 0.67, -0.74, -0.71, 0, 0);
				@include media-breakpoint-up(sm) {
					bottom: 100%;
					left: auto;
					right: 0;
					transform: translateX(calc(50% + var(--bs-gutter-x) / 2));
				}
			}
		}
		&:nth-child(2n) {
			.icon {
				left: 18%;
				bottom: -8%;
				transform: matrix(0.71, 0.67, 0.74, -0.71, 0, 0);
				@include media-breakpoint-up(sm) {
					display: none;
				}
				@include media-breakpoint-up(lg) {
					display: inline-block;
				}
			}
		}
		&:nth-child(3n-1) {
			.icon {
				@include media-breakpoint-up(lg) {
					bottom: auto;
					top: 100%;
					left: auto;
					right: 0;
					transform: matrix(1, 0, 0, -1, 0, 0) translateX(calc(50% + var(--bs-gutter-x) / 2));
				}
			}
		}
		&:nth-child(3n + 1) {
			.icon {
				@include media-breakpoint-up(lg) {
					transform: translateX(calc(50% + var(--bs-gutter-x) / 2));
					bottom: 100%;
					right: 0;
					left: auto;
				}
			}
		}
		&:nth-child(3n) {
			.icon {
				@include media-breakpoint-up(lg) {
					display: none;
				}
			}
		}
		&:last-child {
			.icon {
				display: none;
			}
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sStages
