// start .sCalculator
.sCalculator {
	--sPT: #{rem(24)};
	--sPB: #{rem(32)};
	--sTPB: #{rem(30)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(49)};
		--sPB: #{rem(120)};
		--sTPB: #{rem(75)};
	}
	.form-wrap {
		position: relative;
		// border-radius: 20px;
		overflow: hidden;
		// border: 1px solid $light;
		box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.09);
		margin-left: -17px;
		margin-right: -17px;
		@include media-breakpoint-up(sm) {
			margin-left: 0;
			margin-right: 0;
		}
		// &__input {
			// @include media-breakpoint-down(md) {
				// padding: rem(12) rem(10);
			// }
			// @include media-breakpoint-only(lg) {
			// 	padding: rem(12) rem(10);
			// }
		// }
		.form-control {
			border: none;
		}
		&__form {
			@include media-breakpoint-up(lg) {
				display: grid;
				grid-template-columns: 48.7% 51.3%;
			}
		}
		h4 {
			color: $white;
			margin-bottom: rem(20);
			text-align: center;
			@include media-breakpoint-down(sm) {
				font-size: rem(16);
			}
			@include media-breakpoint-up(lg) {
				text-align: left;
			}
		}
		h6 {
			font-weight: 500;
			line-height: 150%;
			@include media-breakpoint-down(sm) {
				font-size: rem(16);
			}
		}
		table {
			font-size: rem(12);
			line-height: 115%;
			color: $black;
			width: 100%;
			@include media-breakpoint-between(lg, xxl) {
				font-size: rem(11);
			}
			@include media-breakpoint-down(sm) {
				font-size: rem(11);
			}
			tr {
				&:first-child {
					td {
						padding-top: 0;
					}
				}
				&:last-child {
					td {
						border-bottom: none;
						padding-bottom: 0;
					}
				}
				td {
					border-bottom: 1px solid $info;
					padding: rem(8) 0;
					&:last-child {
						text-align: right;
					}
				}
			}
		}
		&__img-wrap {
		}

		&__part {
			padding: rem(16);
			max-width: 100%;
			overflow: hidden;
			@include media-breakpoint-up(md) {
				padding: rem(20);
			}
			@include media-breakpoint-up(xl) {
				padding: rem(24);
			}
			.row {
				--bs-gutter-x: #{rem(8)};
				--bs-gutter-y: var(--bs-gutter-x);
				@include media-breakpoint-up(md) {
					--bs-gutter-x: #{rem(16)};
				}
			}
			picture {
				@include block(462, 342);
				max-width: rem(444);
				margin-left: auto;
				margin-right: auto;
				@include media-breakpoint-up(xxl) {
					max-width: rem(462);
				}
				img {
					position: absolute;
					left: 0;
					top: 0;
				}
			}
			&:first-child {
				background-color: #86755B;
				// background-color: $secondary;
				color: $white;
				@include media-breakpoint-up(lg) {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
				}
				h6 {
					color: $white;
					margin-bottom: rem(16);
					display: none;
					@include media-breakpoint-up(lg) {
						display: block;
					}
					@include media-breakpoint-up(xxl) {
						margin-bottom: rem(20);
					}
				}
				@include media-breakpoint-up(md) {
					padding-bottom: 0;
				}
				@include media-breakpoint-down(md) {
					padding-top: rem(20);
				}
			}
			&:nth-child(2) {
				border-bottom: 1px solid $info;
				@include media-breakpoint-up(md) {
					padding-bottom: rem(16);
				}
				h6 {
					margin-bottom: 0;
				}
			}
			&:nth-child(3) {
				@include media-breakpoint-up(lg) {
					grid-column: 2 / 3;
					grid-row: 2 / 3;
					padding-bottom: rem(17);
				}

				h6 {
					margin-bottom: rem(16);
				}
			}
			&:last-child {
				background-color: #86755B;
				// background-color: $secondary;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				@include media-breakpoint-up(lg) {
					padding-top: 0;
					grid-column: 1 / 2;
					grid-row: 2 / 3;
					padding-bottom: rem(24);
				}
				@include media-breakpoint-up(xxl) {
					padding-bottom: rem(30);
				}
				@include media-breakpoint-down(lg) {
					padding-bottom: rem(30);
				}
				h6 {
					color: $white;
				}
				.row {
					@include media-breakpoint-up(lg) {
						--bs-gutter-y: #{rem(32)};
					}
					@include media-breakpoint-up(xxl) {
						--bs-gutter-x: #{rem(32)};
					}
				}
				p {
					font-size: rem(10);
					line-height: 115%;
					color: $white;
					margin-bottom: 0;
					width: 90%;
					margin-left: auto;
					margin-right: auto;
					margin-top: rem(16);
					@include media-breakpoint-up(sm) {
						margin-left: 0;
						margin-right: 0;
						width: 100%;
					}
					@include media-breakpoint-only(lg) {
						font-size: rem(9);
					}
					a {
						color: $white;
						text-decoration: underline;
						&:hover {
							text-decoration: none;
							color: $white;
						}
					}
				}
			}
		}
		&__btn {
			@extend .btn, .btn-primary, .btn-lg;
			width: auto;
			max-width: 100%;
			margin-top: rem(8);
			margin-bottom: rem(4);
			@media (max-width: 410px) {
				font-size: rem(14);
				line-height: 145%;
				padding-top: rem(5);
				padding-bottom: rem(5);
			}
			br {
				display: none;
				@media (max-width: 410px) {
					display: block;
				}
			}
			@include media-breakpoint-up(md) {
				margin-top: 0;
			}
		}
		&__slider-wrapper {
			margin-top: rem(16);
			margin-bottom: 0;
			@include media-breakpoint-up(md) {
				margin-bottom: rem(16);
			}
			& > span {
				display: block;
				color: rgba($color: $white, $alpha: 0.5);
				font-size: rem(12);
				line-height: 115%;
				margin-bottom: rem(10);
			}
		}
		.swiper-wrapper {
			// justify-content: space-between;
			@include media-breakpoint-only(md) {
			}
		}
		&__slider {
			overflow: visible;
			// @include media-breakpoint-up(md) {
			// 	overflow: hidden;
			// }
		}
		&__slide {
			height: auto;
			max-width: rem(95);
			@include media-breakpoint-up(md) {
				max-width: 6.66rem;
			}
			@include media-breakpoint-up(lg) {
				max-width: rem(105);
			}
			@include media-breakpoint-up(xxl) {
				max-width: 6.17rem;
			}
		}
		&__item {
			height: 100%;
			label {
				@include mt(0.2s);
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				padding: rem(10) rem(8);
				border: 2px solid #5E5241;
				background-color: #5E5241;
				border-radius: 7px;
				height: inherit;
				cursor: pointer;
				@include media-breakpoint-up(xl) {
					padding: rem(22) rem(8) rem(10);
				}
				img {
					max-width: 100%;
					height: rem(42);
					margin-bottom: rem(10);
					@include media-breakpoint-up(xl) {
						margin-bottom: rem(15);
					}
				}
				span {
					display: block;
					font-size: rem(10);
					line-height: 135%;
					flex-grow: 1;
				}
				&:hover {
					background-color: $secondary;
					border-color: $primary;
				}
			}
			input.btn-check {
				&:checked {
					+ label {
						background-color: #86755B;
						border-color: #DABD8E;
					}
				}
			}
		}
		&__sum {
			margin-top: rem(16);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(3);
			}
			@include media-breakpoint-up(xl) {
				margin-bottom: rem(6);
			}
			@include media-breakpoint-up(xxl) {
				margin-bottom: rem(13);
				margin-top: rem(24);
			}
			span {
				display: block;
				&:first-child {
					font-size: rem(11);
					line-height: 115%;
					color: rgba($color: $body-color, $alpha: 0.7);
					margin-bottom: 3px;
					@include media-breakpoint-up(sm) {
						font-size: rem(12);
					}
				}
				&:last-child {
					font-size: rem(16);
					line-height: 105%;
					color: rgba($color: $black, $alpha: 0.7);
					@include media-breakpoint-up(sm) {
						font-size: rem(18);
					}
				}
			}
			.row {
				--bs-gutter-x: #{rem(16)};
				--bs-gutter-y: 0;
				@include media-breakpoint-up(sm) {
					--bs-gutter-x: #{rem(24)};
				}
				@include media-breakpoint-up(md) {
					--bs-gutter-x: #{rem(32)};
				}
				@include media-breakpoint-up(xxl) {
					--bs-gutter-x: #{rem(42)};
				}
				& > * {
					display: flex;
					flex-direction: column;
				}
			}
		}
		&__positive {
			display: flex;
			@include roww(#{rem(12)}, m);
			// .icon {
			// 	color: #D9BC8D;
			// 	font-size: rem(17);
			// 	min-width: rem(17);
			// }
			.icon-wrap {
				width: 17px;
				height: 17px;
				background-color: $primary;
				background-image: linear-gradient(141.69deg, #A48B63 0%, #D9BC8D 100%);
				mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_2471_2087)'%3e%3cpath d='M9.23511 0.143555C4.54815 0.143555 0.735107 3.95667 0.735107 8.64355C0.735107 13.3304 4.54815 17.1436 9.23511 17.1436C13.9221 17.1436 17.7351 13.3304 17.7351 8.64355C17.7351 3.95667 13.9221 0.143555 9.23511 0.143555ZM9.23511 15.4984C5.45536 15.4984 2.38026 12.4233 2.38026 8.64355C2.38026 4.86378 5.45536 1.7887 9.23511 1.7887C13.0149 1.7887 16.09 4.86381 16.09 8.64355C16.09 12.4233 13.0149 15.4984 9.23511 15.4984Z' fill='url(%23paint0_linear_2471_2087)'/%3e%3cpath d='M12.2179 5.59375L8.13826 9.67338L5.97794 7.51312L4.8147 8.67636L8.13826 12L13.3812 6.75699L12.2179 5.59375Z' fill='url(%23paint1_linear_2471_2087)'/%3e%3c/g%3e%3cdefs%3e%3clinearGradient id='paint0_linear_2471_2087' x1='0.735107' y1='0.143555' x2='15.5385' y2='18.8791' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23A48B63'/%3e%3cstop offset='1' stop-color='%23D9BC8D'/%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_2471_2087' x1='4.8147' y1='5.59375' x2='9.83724' y2='14.094' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23A48B63'/%3e%3cstop offset='1' stop-color='%23D9BC8D'/%3e%3c/linearGradient%3e%3cclipPath id='clip0_2471_2087'%3e%3crect width='17' height='17' fill='white' transform='translate(0.735107 0.143555)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
				mask-size: cover;
				flex-shrink: 0;
			}
			span {
				font-size: rem(12);
				line-height: 135%;
				color: rgba($color: $white, $alpha: 0.7);

				@include media-breakpoint-up(xl) {
					font-size: rem(14);
					font-weight: 500;
					line-height: 150%;
				}
			}
		}
		&__footer {
			max-width: 90%;
			margin-left: auto;
			margin-right: auto;
			@include media-breakpoint-down(md) {
				margin-top: rem(12);
			}
			@include media-breakpoint-up(sm) {
				max-width: 100%;
			}
			.row {
				@include media-breakpoint-down(md) {
					--bs-gutter-x: #{rem(12)};
				}
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sCalculator
