mixin sCalculator(data)
	// start sCalculator
	+b.SECTION.sCalculator.section#sCalculator&attributes(attributes)
		.container
			+b.section-title.text-center
				h4 Калькулятор
				h2 Получите цену навеса <br> и&nbsp;посмотрите, как он&nbsp;будет выглядеть
			+b.form-wrap
				+e.form
					+e.part
						h4 Введите параметры навеса
						.row
							.col-4
								+input('Длина, мм', 'number')
							.col-4
								+input('Ширина, мм', 'number')
							.col-4
								+input('Высота, мм', 'number')
							.col-12
								+input('Материал кровли', 'select')
						+e.slider-wrapper
							span Форма крыши
							+e.slider--js.swiper
								.swiper-wrapper
									mixin slideBtn(c, t)
										+e.slide.swiper-slide
											+e.item
												input.btn-check(type='radio' name="variants" id=`variant${c}`)&attributes(attributes)
												label(for=`variant${c}`)
													img(src=`img/svg/sCalculator-${c}.svg`, alt="")
													span!= t
									+slideBtn(1, `1-скатная кровля`)
									+slideBtn(2, `2-скатная кровля`)
									+slideBtn(3, `Арочная кровля`)
									+slideBtn(4, `Полуарочная кровля`)
									+slideBtn(5, `4-скатная кровля`)
						h6 Получите расчет цены и&nbsp;полную смету
					+e.part
						h6 Визуализация навеса
						+e.img-wrap
							+pic('sCalculator-1.png', 'bg', 0)
					+e.part
						h6 Предварительные расчеты
						table
							tr
								td Металлические столбы
								td 8&nbsp;шт
							tr
								td Силовые боковые балки
								td 2&nbsp;шт
							tr
								td Металлические фермы
								td 5&nbsp;шт
							tr
								td Обрешетка (лаги)
								td 12&nbsp;шт
							tr
								td Сотовый поликарбонат
								td 36&nbsp;м2
							tr
								td Соединительные профили
								td 1&nbsp;к-т
							tr
								td Окрашивание
								td 30&nbsp;м2
						+e.sum
							.row
								.col-auto
									span Материалы
									span 100&nbsp;800&nbsp;₽
								.col
									span Работа
									span 40&nbsp;800&nbsp;₽
								
								.col-auto
									span Итого
									span.strong 100&nbsp;800&nbsp;₽
					+e.part
						.row
							.col-sm-6
								+input('Ваше имя', 'text')
							.col-sm-6
								+input('Ваш номер телефона', 'tel')
							.col-12.d-flex.justify-content-center
								+e.btn.link-modal-js(href="#modal-call" data-title= "Заказать детальный расчет" data-text= "Оставьте свой номер телефона, мы&nbsp;вам перезвоним и&nbsp;выполним расчет." data-btn= "Заказать расчет" data-pic= "1") Получить точный расчет <br> за&nbsp;15&nbsp;минут
							.col-12
								+e.footer 
									.row
										.col-sm-6
											+e.positive
												+icon('positive')
												span Коммерческое предложение с&nbsp;перечнем работ и&nbsp;материалов
										.col-sm-6
											+e.positive
												+icon('positive')
												span Бесплатный выезд инженера на&nbsp;ваш участок
						p Отправляя заявку, вы&nbsp;даете свое согласие на&nbsp;обработку #[a(href="#") персональных&nbsp;данных]
	// end sCalculator